{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="twig-views-template">
<div class="twig-view-content">

<div class="first-column">
	<div class="twig-row">
	  <div class="prelude-centro-informacion">
	  <div class="block-inner">
	            <div class="field field--name-body"><h4>UNIVERSIDAD EL BOSQUE</h4>
				<h2>Centro de información</h2>
				<h5>Únete al movimiento de la universidad siguiendo de cerca las noticias, los eventos, las convocatorias y los datos de interés que aquí&nbsp;se construyen</h5></div>
	    </div>
	  </div>
	</div>
	<div class="twig-row twig-row-2">{{ rows[1] }}</div>
	<div class="twig-row twig-row-3">{{ rows[2] }}</div>
	<div class="twig-row twig-row-6">{{ rows[5] }}</div>
</div>

<div class="second-column">
	<div class="twig-row twig-row-1">
		<div class="node node--type-noticias node--view-mode-resumen-2">
			<div class="image-content">
				<div class="field field--name-field-fecha-publicacion field-custom-date-twig">
					<div class="item-month-day">
						<div class="item-month">
							{{ rows[0].content['#node'].field_fecha_publicacion[0].value|date("F")|t }}
						</div>
						<div class="item-day">
							{{ rows[0].content['#node'].field_fecha_publicacion[0].value|date("d") }}
						</div>
					</div>
				</div>

				<div class="field field--name-field-image">
					<a href="{{ path('entity.node.canonical', {'node': rows[0].content['#node'].id }) }}"><img src="{{ rows[0].content["#node"].field_image[0].entity.fileuri | image_style('880x500') }}" /></a>
				</div>
			</div>

			<div class="text-content">
				<div class="field field--name-field-noticias-taxonomia">
					{{ rows[0].content['#node'].field_noticias_taxonomia[0].entity.label }}
				</div>
				<div class="field field--name-node-title">
					<a href="{{ path('entity.node.canonical', {'node': rows[0].content['#node'].id }) }}">{{ rows[0].content["#node"].title.value}}</a>
				</div>
				<div class="field field--name-field-bocadillo-150">
					{{ rows[0].content["#node"].field_bocadillo_150.value }}
				</div>
				
				<div class="field field--name-node-link">
					<a href="{{ path('entity.node.canonical', {'node': rows[0].content['#node'].id }) }}">Ver más</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col">
		<div class="twig-row twig-row-4">{{ rows[3] }}</div>
		<div class="twig-row twig-row-7">{{ rows[6] }}</div>
	</div>
	
	<div class="twig-row twig-row-5">
		<div class="node node--type-noticias node--view-mode-resumen-2">
			<div class="image-content">
				<div class="field field--name-field-fecha-publicacion field-custom-date-twig">
					<div class="item-month-day">
						<div class="item-month">
							{{ rows[4].content['#node'].field_fecha_publicacion[0].value|date("F")|t }}
						</div>
						<div class="item-day">
							{{ rows[4].content['#node'].field_fecha_publicacion[0].value|date("d") }}
						</div>
					</div>
				</div>

				<div class="field field--name-field-image">
					<a href="{{ path('entity.node.canonical', {'node': rows[4].content['#node'].id }) }}"><img src="{{ rows[4].content["#node"].field_image[0].entity.fileuri | image_style('880x500') }}" /></a>
				</div>
			</div>

			<div class="text-content">
				<div class="field field--name-field-noticias-taxonomia">
					{{ rows[4].content['#node'].field_noticias_taxonomia[0].entity.label }}
				</div>
				<div class="field field--name-node-title">
					<a href="{{ path('entity.node.canonical', {'node': rows[4].content['#node'].id }) }}">{{ rows[4].content["#node"].title.value}}</a>
				</div>
				<div class="field field--name-field-bocadillo-150">
					{{ rows[4].content["#node"].field_bocadillo_150.value }}
				</div>
				
				<div class="field field--name-node-link">
					<a href="{{ path('entity.node.canonical', {'node': rows[4].content['#node'].id }) }}">Ver más</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="twig-row twig-row-8">{{ rows[7] }}</div>
</div>







</div>
</div>

