{#
/**
 * Solo se está cambiando los h2 por h3
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="block-inner">
  {{ title_prefix }}
  {% if label %}
    <h3{{ title_attributes }}>{{ label }}</h3>
  {% endif %}
  <div class="title-suffix">{{ title_suffix }}</div>
  {% block content %}
    {{ content }}
  {% endblock %}
  </div>
</div>
