.centro-lenguas-home {
    @media only screen and (max-width: $mobile) {
        background: $color_brand;
    }
    .node--type-bosque-001-main-image {
        @media only screen and (max-width: $mobile) {
            display: inline-block;
            margin: 0;
            width: 100%;
        }

        .text-content {
            bottom: inherit;
            top: 40px;
            width: 60%;
            @media only screen and (max-width: $tablet) {
                width: 52%;
            }
            @media only screen and (max-width: $mobile) {
                width: 86%;
            } 
            h1 {
                margin-bottom: 2px;
                @media only screen and (max-width: $mobile) {
                    font-size: 35px;
                }
            }
            .field--name-field-bocadillo {
                font: {
                    size: 40px;
                }
                line-height: 1.2;

                @media only screen and (max-width: $mobile) {
                    font-size: 31px;
                }                
            }
        }
        .field--name-field-image {
            line-height: 0;
            position: relative;
            &:after {
                background: rgba(0, 0, 0, 0.4);
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        @media only screen and (max-width: $mobile) {
            img {
                max-width: inherit;
            }
        }        
    }
    
    .block-webform {
        @media only screen and (max-width: $mobile) {
            padding-top: 20px;
        }

        .block-inner {
            top: -290px;
            @media only screen and (max-width: $tablet) {
                max-width: 270px;
                top: -302px;
            }
        }
        .form-item-escribe-algo- {
            display: none;
            &.active {
                display: block;
            }
            .form-textarea {
                background: #fff;
                border: 1px solid #ddd;
                border-radius: 6px;
                height: 55px;
            }
        }
        .js-form-type-checkbox label {
            display: inline-block;
            margin-left: 14px;
            &:before {
                float: left;
            }
        }
    }
    .content.region-content {
        @media only screen and (max-width: $mobile) {
            margin: 0 -30px;   
        }
    }

    .formcion-lenguas-extranjeras {
        @include intro-title('.field--name-field-pre-title', '.field--name-field-title h2', '.field--name-field-title h2');
        margin-top: 30px;

        @media only screen and (max-width: $mobile) {
            padding: 0 30px;
            position: relative;

            .block-content--type-_009-title-with-bocadillo {
                position: relative;            
            }
        }        
        .field--name-field-pre-title {
            @media only screen and (max-width: $mobile) {
                color: white;
                top: 43px;
            }
        }
        .field--name-field-title h2 {
            @media only screen and (max-width: $mobile) {
                padding-top: 80px; 
            }

            &:before {
                @media only screen and (max-width: $mobile) {
                    background: white;
                    top: 30px;
                }    
            }        
        }
        .field--name-field-bocadillo {
            font: {
                family: $font-baser;
                size: 17px;
            }
            line-height: 1.3;
            margin: 0 auto;
            max-width: 1000px;
            text-align: center;
        }
    }
    .titulo-conoce-cursos {
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }

    #grupo-datos-cursos {
        max-width: 1080px;
    } 

    .grupo-datos-cursos {
        position: relative;
        @media only screen and (max-width: $tablet) {
            box-sizing: border-box;
            padding: 12px;
            width: 94%;
        }
        @media only screen and (max-width: $mobile) {
            @include bg-laterales(white);
            background: white;
            margin-top: 30px;
            padding: 0;
            width: 100%;
        }

        .block-block-content {
            background: #F7F7F7;
            @media only screen and (max-width: $tablet) {
                padding-bottom: 30px;
            }
            @media only screen and (max-width: $mobile) {
                padding-bottom: 0;
            }            
        }
    
        .group-left {
            position: relative;
            width: 35%;
            
            @media only screen and (max-width: $tablet) {
                padding-top: 30px;
                width: 49%;
            }
            @media only screen and (max-width: $mobile) {
                padding-top: 0;                
                width: 100%;
            }

            .field--name-field-image {
                line-height: 0;
            }

            .field--name-field-title {
                left: 50%;
                margin-left: -150px;
                max-width: 300px;
                position: absolute;
                text-align: center;
                top: 40%;

                @media only screen and (max-width: $tablet) {
                    left: 0;
                    margin-left: 0;
                    max-width: 100%;
                    position: relative;
                    top: 0;
                }
                .field__item {
                    color: white;
                    font: {
                        family: $font-brandb;
                        size: 47px;
                    }
                    text-shadow: 0px 2px 10px #181818;
                    @media only screen and (max-width: $tablet) {
                        color: $color_gray_80;
                        font-size: 48px;
                        margin: 0 auto 20px;
                        max-width: 290px;
                        text-shadow: none;
                    }
                    @media only screen and (max-width: $mobile) {
                        max-width: 100%;
                    }
                }
            }
        }
        .group-right {
            margin-left: 4%;
            padding-top: 35px;
            width: 57%;

            @media only screen and (max-width: $tablet) {
                margin-left: 2%;
                padding-top: 30px;
                width: 49%;
            }
            @media only screen and (max-width: $mobile) {
                box-sizing: border-box;
                margin-left: 0;
                padding: 30px;
                width: 100%;
            }

            > .field--type-text-with-summary {
                margin-bottom: 25px;
 
                @media only screen and (max-width: $tablet) {
                    margin-bottom: 10px;
                    p {
                        font-size: 33px;
                        line-height: 1.1;
                    }
                }
                p {
                    font: {
                        family: $font-bl;
                        size: 30px;
                    }
                    line-height: 1.1;

                    @media only screen and (max-width: $mobile) {
                        font-size: 24px;
                    }            
                }
            }

            .field--name-field-texto-paragraphs {
                h2 {
                    font: {
                        size: 18px;
                    }
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }

            .field--name-field-enlace {
                margin-top: 33px;
                text-align: center;
                @media only screen and (max-width: $mobile) {
                    text-align: left;
                }
                a {
                    @include buton-xl-green;
                }
            }
        }
        
        #block-cursofrances-2 {
            background: #4a90e2;
            @media only screen and (max-width: $tablet) {
                .group-left {
                    .field--name-field-title .field__item {
                        color: white;
                    }
                }
            }            
            .group-right {
                padding-top: 82px;
            
                @media only screen and (max-width: $tablet) {
                    padding-top: 30px;    
                }   

                .field--name-field-enlace {
                    text-align: left;
                }
            }

            .field--type-text-with-summary {
                p {
                    color: white;
                    margin-bottom: 0;
                    @media only screen and (max-width: $mobile) {
                        font-size: 24px;
                    }                    
                }
            }
        }

        #block-cursoespanolparaextranjeros {
            .group-left .field--name-field-title {
                top: 31%;
            }

            .group-right {
                padding-top: 70px;

                @media only screen and (max-width: $tablet) {
                    padding-top: 30px;
                }

                > .field--type-text-with-summary {
                    max-width: 403px;

                    p {
                        font: {
                            family: "acherus_grotesqueblack";
                            size: 18px;
                        }
                        line-height: 1.2;
                    }
                }

                .field--name-field-texto-paragraphs {
                    max-width: 515px;

                    p {
                        font: {
                            family: "acherus_grotesqueultralight";
                            size: 30px;
                        }
                        line-height: 1.1;

                        @media only screen and (max-width: $mobile) {
                            font-size: 24px;
                        }                        
                    }
                }

                .field--name-field-enlace {
                    text-align: left; 
                }
            }
        }

        #block-electivasparaestudiantes-2 {
            background: #e24a4a;

            .group-left {
                .field--name-field-title {
                    top: 30%;
                    @media only screen and (max-width: $tablet) {
                        .field__item {
                            color: white;
                        }
                    }
                }             
            }

            .group-right {
                > .field--type-text-with-summary {
                    max-width: 405px;
                    p {
                        color: white;
                    }
                }
                .field--name-field-texto-paragraphs {
                    h2 {
                        color: white;
                    }

                    p {
                        color: white;
                    }
                }

                .field--name-field-enlace {
                    text-align: left;
                }
            }                
        }

        .buttons-wrapper {
            position: absolute;
            top: 135px;
            right: -45px;

            @media only screen and (max-width: $tablet) {
                right: -25px;
            }
            @media only screen and (max-width: $mobile) {
                display: inline-block;
                margin: 30px 0;
                right: 0;
                position: relative;
                top: 0;
                text-align: center;
                width: 100%;
            }
            .left {
                top: 95px;
                @media only screen and (max-width: $mobile) {
                    top: 0;
                }
            }
            .carousel-control {
                left: initial;
                right: initial;
                @media only screen and (max-width: $mobile) {
                    @include inline-block(top);
                    margin: 0 10px;
                    position: relative;
                }
            }
        }
    }
    .block-escucharte {
        background: url('../images/svg/raya-curva.svg') no-repeat 65px 0;
        padding-left: 50%;
        @media only screen and (max-width: $tablet) {
            background-size: 209px 157px;
            background-position: 20px -53px;
            padding-left: 36%;
        }
        @media only screen and (max-width: $mobile) {
            background: white;
            padding:  20px 30px;
        }

        .block-content {
            padding-top: 35px;
        }
        .field--name-field-pre-title {
            color: $color_gray_60;
            font: {
                family: $font-baseb;
                size: 10px;
            }
            letter-spacing: 2px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .field--name-field-title {
            h2 {
                font: {
                    family: $font-bl;
                }
            }
        }
        .field--name-field-links {
            a {
                @include buton-s-border-green;
            }
        }
    }
    .region-section-1 {
        @include bg-laterales($color_brand);
        background: $color_brand;
        margin-bottom: 25px;
        margin-top: 45px;
        .requisitos-titulo {
            .intro {
                color: white;
            }
            .field--name-field-block-title-h2 {
                color: white;
                &:before {
                    background: white;
                }
            }
        }
        .region-content {
            @include ib-grid;
            margin: 0 auto;
            max-width: 765px;
            padding-bottom: 170px;
            position: relative;
            @media only screen and (max-width: $mobile) {
                padding-bottom: 10px;
            }
            .contextual-region {
                position: initial;
                @media only screen and (max-width: $mobile) {
                    position: relative;
                }
                .contextual {
                    position: relative;

                    .contextual-links {
                        position: absolute;
                    }
                }
            }
            .block-block-content {
                @include inline-block(top);
                text-align: center;
                width: 25%;
                @media only screen and (max-width: $mobile) {
                    position: relative;
                    width: 100%;
                }
            }
            .requisitos-titulo {
                width: 100%;
            }
            .active {
                .field--name-field-pre-title {
                    background: white;
                    color: $color_brand;
                }
                .field--name-body {
                    display: block;
                }
                .field--name-field-title {
                    h4 {
                        color: white;
                        font-size: 14px;
                    }
                    &:before {
                        content: '';
                        @media only screen and (max-width: $mobile) {
                            content: none;
                        }
                    }
                    &:after {
                        @media only screen and (max-width: $mobile) {
                            content: none;
                        }
                    }
                }
            }
            .inscripciones-block {
                .field--name-field-title {
                    &:after {
                        left: 50%;
                        width: 50%;
                        @media only screen and (max-width: $mobile) {
                            left: 0;
                            width: 100%;
                        }
                    }
                }
            }
            .valores-block {
                .field--name-field-title {
                    &:after {
                        width: 50%;
                        @media only screen and (max-width: $mobile) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .field--name-field-pre-title {
            border: 1px solid white;
            border-radius: 50%;
            color: white;
            cursor: pointer;
            display: inline-block;
            font: {
                family: $font-brandb;
                size: 30px;
            }
            padding: 21px 32px;
        }
        .field--name-field-title {
            h4 {
                font-size: 12px;
                color: $color_brand_dark_15;
                letter-spacing: 1px;
            }
            height: 20px;
            margin-top: 15px;
            padding-bottom: 20px;
            position: relative;
            &:after {
                background: #92d15f;
                bottom: 0;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                width: 100%;
            }
            &:before {
                background: white;
                border-radius: 50%;
                bottom: -5px;
                content: none;
                display: block;
                height: 10px;
                left: 50%;
                margin-left: -5px;
                position: absolute;
                width: 10px;
                z-index: 10;
                @media only screen and (max-width: $mobile) {
                    content: none;
                }
            }
        }
        .field--name-body {
            bottom: 25px;
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            @media only screen and (max-width: $mobile) {
                bottom: 0;
                position: relative;
            }
            .field__item {
                max-width: 555px;
                margin: 0 auto;
                text-align: left;
                p {
                    color: white;
                    font: {
                        family: $font-basel;
                    }
                    margin-bottom: 0;
                }
            }
        }
    }
    .region-section-2 {
        @media only screen and (max-width: $mobile) {
            background: white;
            margin: 0 -30px;
        }
        .region-content {
            @include ib-grid;
        }
        .rectangulo-image-link {
            @include inline-block(top);
            background: #ffa20c;
            margin-right: 2%;
            width: 49%;
            @media only screen and (max-width: $mobile) {
                width: 100%;
            }
            .block-inner {
                min-height: 200px;
                @media only screen and (max-width: $tablet) {
                    min-height: 300px;
                }
            }
            .field--name-field-body {
                position: relative;
                height: 156px;
                width: 82%;
                p {
                    color: white;
                    display: initial;
                    font-size: 34px;
                    font-family: $font-bl;
                    line-height: 0.9;
                    strong {
                        font-family: $font-bsb;
                    }
                    @media only screen and (max-width: $tablet) {
                        font-size: 31px;
                    }
                }
            }
            .field--name-field-image {
                right: 0;
                top: 0;
            }
            .text-content {
                padding: 9px 30px 30px;
                @media only screen and (max-width: $tablet) {
                    height: 295px;
                }
            }
            .link {
                bottom: 13px;
                a {
                    background: rgba(0, 0, 0, 0.4);
                }
            }
        }
        .club-participar-block {
            background: #0ad9b7;
            margin-right: 0;
        }
        .presentacion-exament-block {
            .field--name-field-image img {
                @media only screen and (max-width: $tablet) {
                    height: 301px;
                    max-width: 100%;
                    width: 122px;
                }
            }
        }
    }
    .region-section-3 {
        @media only screen and (max-width: $tablet) {
            @include bg-laterales($color_gray_5);
            background: $color_gray_5;
            margin-top: 35px;
            padding-bottom: 20px;
        }
        @media only screen and (max-width: $mobile) {
            margin-top: 0;
        }        
        .region-content {
            @include ib-grid;
        }
        .block-block-content {
            @include inline-block(top);
            margin-right: 4%;
            width: 22%;
            @media only screen and (max-width: $mobile) {
                margin: 0;
                margin-bottom: 30px;
                width: 80%;
            }
            &:nth-child(5n) {
                margin-right: 0;
            }
            .field--name-field-pre-title {
                @include pretitle;
            }
            .field--name-field-title {
                h2 {
                    font: {
                        family: $font-bsb;
                        size: 20px;
                    }
                    line-height: 1.3;
                    margin: 5px 0;
                }
            }
            .field--name-body {
                p {
                    font-size: .9em;
                }
            }
            .field--name-field-links {
                margin-top: 13px;
                a {
                    @include link-text;
                }
            }
        }
        .titulo-conoce-mas-centro {
            width: 100%;
        }
    }
}