.filtro-is-present {
	.sidebar-first {
		@media only screen and (max-width: $tablet) {
			display: block;
			opacity: 0;
			transition: .4s ease-out all;
			position: fixed;
			bottom: -100%;
			left: 0;
			max-width: none;
			width: 100%;
			height: 100%;
			z-index: 120;
			padding: 20px 30px;
			margin: 0;
			box-sizing: border-box;
			overflow-y: scroll;
			background-color: $color-gray-5;

			.sidebar_first {
				max-width: 300px;
			}

			.close-cerrar {
				display: block;
			}

			.block-views-blockeventos-repositorio-block-2 {
				display: none;
			}

			.calendar-calendar tr {
				background: none;
			}
		}
	}

	&.filtro-is-open {
		overflow: hidden;

		.sidebar-first {
			@media only screen and (max-width: $tablet) {
				opacity: 1;
				bottom: 0;
			}
		}
	}
}


