.node--type-evento-especial {
	@include grilla-2-columns-bs('.six-content', '> .field');
	@include makeCarouselButtons(3);
	
	


	.buttons-wrapper {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 10;
	}

	.field--name-field-imagenes-multiples {
		max-width: 880px;
		float: right;

		@media only screen and (max-width: $tablet) {
			width: 110%;
			margin-left: -31px;
			float: none;

			img {
				width: 100%;

				@media only screen and (max-width: $mobile) {
					height: 430px;
					object-fit: cover;
				}
			}
		}

		@media only screen and (max-width: $mobile) {
			width: 124%;
		}
	}

	.field--name-field-body-images {
		max-width: 375px;
		float: left;
	}
	
	#eventos-slider {
		position: relative;
		
		.buttons-wrapper {
			width: 100px;
			left: auto;
			right: 30px;
			bottom: 25px;

			@media only screen and (max-width: $tablet) {
				display: none;
			}
		}
	}
	
	#sobre-el-evento-slider {
		position: relative;

		.buttons-wrapper {
			width: 100px;
			left: 0;
			right: 0;
			margin: auto;
			bottom: 25px;


			@media screen and (max-width: $mobile-l-width) {
				bottom: -10px;
				position: relative;
			}
		}
	}

	.first-content,
	.second-content,
	.third-content,
	.four-content,
	.five-content,
	.six-content,
	.field--name-field-sponsors {
		float: left;
		width: 100%;
		clear: both;
		border-top: 1px solid black;
		padding: 50px 0;
	}

	.first-content {
		position: relative;

		@media only screen and (max-width: $tablet) {
			padding: 0;
		}

		.text-content {
			position: absolute;
			left: 0;
			top: 50px;
			width: 300px;
			padding: 60px 30px 0 0;
			box-sizing: border-box;

			@media only screen and (max-width: $tablet) {
				left: 70px;
				width: 500px;
			}

			@media only screen and (max-width: $mobile) {
				top: -38px;
				left: 0;
				width: 300px;
			}
		}

		.field--name-node-title {
			@include font(37px, 24px, 2.45px);
			font-family: $font-brandb;
			
			h2 {
				margin-bottom: 5px;
				@media only screen and (max-width: $tablet) {
					color: white;
					font-family: $font-bli;
				}
			}
		}

		.field--name-field-titulo-2 {
			@include font(25px, 28px);
			font-family: $font-brandb;
			margin-bottom: 30px;

			@media only screen and (max-width: $tablet) {
				color: white;
				font-family: $font-bli;
			}
		}

		.field--name-field-event-special-date,
		.field--name-field-title {
			@include font(15px, 18px, -0.19px);
			font-family: $font-boldi;
			text-transform: uppercase;

			@media only screen and (max-width: $tablet) {
				color: white;
			}
		}

		.field--name-field-countdown {
			@include font(18px, 22px, -0.23px);
			font-family: $font-bli;

			@media only screen and (max-width: $tablet) {
				color: white;
			}
		}
		
		.field--name-dynamic-block-fieldnode-boton-inscribirme  {
			padding-top: 40px;

			p {
				margin: 0;

				a {
					@include inline-block;
					@include font(15px, 18px, 2.81px);
					font-family: $font-bsb;
					background: #99B2B7;
					padding: 12px 32px;
					text-decoration: none;
					color: white;
					text-transform: uppercase;
					border-radius: 25px;
				}
			}
		}

		@media only screen and (max-width: $tablet) {
			padding-top: 0;
		}
	}

	.second-content {
		.field--name-field-body-images {
			margin-right: 15px;

			@media only screen and (max-width: $tablet) {
				max-width: 275px;
			}

			@media only screen and (max-width: $mobile) {
				float: none;
				max-width: none;
				width: 100%;
			}
		}

		h3 {
			@include font(17px, 20px, 0.61px);
			margin-bottom: 10px;
		}

		.body-wrapper {
			> h3 {
				@include evento-title;
				margin-bottom: 28px;
			}

			@media only screen and (max-width: $mobile) {
				margin-top: 20px;
			}
		}

		.field--name-field-body {
			clear: both;
		}

		// 2do grupo
		.field--name-field-body-2 {
			float: left;
			clear: left;
			width: 50%;

			@media only screen and (max-width: $tablet) {
				position: absolute;
				left: 0;
				bottom: 20px;
			}

			@media only screen and (max-width: $mobile) {
				position: initial;
				width: 100%;
			}
		}

		// 3er grupo
		.field--name-field-body-3 {
			float: left;
			width: 50%;

			@media only screen and (max-width: $tablet) {
				position: absolute;
				right: -10px;
				bottom: 20px;
			}

			@media only screen and (max-width: $mobile) {
				position: initial;
				margin-top: 20px;
				width: 100%;
			}
		}

		.body-wrapper {
			overflow: hidden;
		}

		@media only screen and (max-width: $tablet) {
			position: relative;
			min-height: 540px;
		}
	}

	.third-content {
		@include default-tabs;
		@include grilla-2-columns-bs('.field--name-field-hours', '> .field__item', 10px, 50px);
		padding-bottom: 0;

		> h3 {
			@include evento-title;
			margin-bottom: 30px;
		}

		.paragraph--type-eventos-dia {
			display: none;
		}

		.tabMakerTabs {
			text-align: left;

			.tabMakerTab {
				@include font(17px, 20px, 0.61px);
				font-family: $font-brandb;
				color: black;
				z-index: 10;
				min-width: 105px;
				text-align: center;
				margin: 0;
				line-height: 13px;

				&.lavalamp-active {
					color: white;
				}

				&::before {
					display: none;
				}

				i {
					display: none;
				}
			}
		}

		.lavalamp-bar {
			background: black;
			height: 47px;
			top: 0;
		}

		.tabMakerContents {
			background: white;

			&::before,
			&::after {
				display: none;
			}
		}

		.tabMakerContent {
			padding-left: 0;
			padding-right: 0;

			.tabMakerContentInner {
				> .text-content {
					width: 100%;
					max-width: inherit;
					background: #99B2B7;
					padding: 20px;
					box-sizing: border-box;
					margin: 0 0 55px;
					overflow: hidden;
				
					> .field--name-field-image {
						float: left;
						max-width: 360px;
						margin-right: 20px;
					}
				}
			}
		}

		.field--name-field-hours {
			clear: both;

			.field__item {
				&:nth-of-type(2n+1) {
					clear: left;
				}
			}

			.field--name-field-image {
				float: left;
				margin-right: 20px;
				border-radius: 100px;
				overflow: hidden;
				height: 78px;
			}

			.text-content {
				max-width: inherit;
				overflow: hidden;
				width: auto;
				float: none;

				@media only screen and (max-width: $tablet) {
					overflow: initial;
					position: relative;
					padding-right: 0;
				}
			}

			.field--name-field-tab-titulo {
				@include font(18px, 22px, -0.45px);
				font-family: $font-bl;
				margin: 0;
				padding: 1px 0 0 20px;
				border-left: 1px solid black;

				@media only screen and (max-width: $tablet) {
					position: absolute;
					left: 98px;
				}
			}

			.field--name-field-title {
				@include font(20px, 20px, -0.5px);
				font-family: $font-brandb;
				margin: 0 0 18px;
				padding: 0 0 1px 20px;
				border-left: 1px solid black;

				@media only screen and (max-width: $tablet) {
					clear: both;
    				position: absolute;
					left: 98px;
					top: 23px;
				}
			}

			.field--name-field-contenido-bloque {
				margin: 0 0 20px;

				p {
					@include font(16px, 22px);
					font-family: $font-baser;
				}
			}

			.field--name-field-hora {
				@include font(14px, 19px);
				@include inline-block;
				font-family: $font-achregit;
				margin: 0 15px 0 0;
				background: url(../images/svg/clock11.svg) no-repeat 0 50%;
				padding-left: 30px;
			}

			.field--name-field-ubication {
				@include font(14px, 19px);
				@include inline-block;
				font-family: $font-achregit;
				margin: 0;
				background: url(../images/svg/building11.svg) no-repeat 0 50%;
				padding-left: 30px;
			}
		}
	}

	.four-content {
		@include owl-nav-5;

		> h3 {
			@include evento-title;
		}

		.field--name-field-conferencistas {
			position: relative;
			overflow: hidden;
			text-align: center;
		}
		
		.owl-stage-outer {
			// max-width: 980px;
			margin: 0 auto;
		}

		.owl-item {
			float: left;
		}

		img {
			border-radius: 100px;
			overflow: hidden;
			margin: 0 auto 5px;
			display: block;
		}

		.field--name-field-tab-titulo {
			@include font(20px, 20px, -0.5px);
			font-family: $font-brandb;
			margin: 0 0 15px
		}

		.field--name-field-entrevista {
			@include font(14px, 19px);
			font-family: $font-baser;
			margin: 0 0 15px;
		}

		@media only screen and (max-width: $tablet) {
			.owl-nav {
				z-index: 1000;
			}
		}

		@media only screen and (max-width: $mobile) {
			.owl-nav {
				position: absolute;
				top: 30%;
				z-index: 10;
			}

			.owl-prev {
				position: absolute;
				left: 0;
			}

			.owl-next {
				position: absolute;
				right: 0;
			}

			.text-content {
				max-width: 250px;
				margin: 0 auto;
			}
		}
	}

	.five-content {
		.field--name-field-ubication {
			.field__label {
				@include evento-title;
			}

			@media only screen and (max-width: $tablet) {
				margin-left: -30px;
				margin-right: -30px;
			}
		}
	}

	.six-content {
		.field__label {
			@include evento-title;
		}

		.field--name-field-formulario-inscripcion {
			.js-form-type-select {
				label {
					display: none;
				}
			}
		}

		.field--name-field-tipo-de-entrada {
			> .field__items {
				> .field__item {
					margin-bottom: 25px;
					position: relative;
					padding-left: 65px;

					&::before {
						@include font(20px, 47px, -0.05px);
						font-family: $font-bl;
						border-radius: 50px;
						background: #99B2B7;
						color: white;
						text-align: center;
						width: 50px;
						height: 50px;
						display: block;
						position: absolute;
						left: 0;
						top: -4px;
					}

			
					@for $i from 1 through 3 {
						&:nth-of-type(#{$i}) {
							&::before {
								content: "#{$i}";
							}
						}
					}
				}
			}
		}

		.field--name-field-tab-titulo {
			@include font(16px, 19px, -0.5px);
			font-family: $font-bsb;
			margin-bottom: 5px;
		}

		.field--name-field-entry-description {
			@include font(16px, 22px);
		}

		.form-item {
			margin-bottom: 20px;
		}

		label {
			display: block;
		}

		.form-text,
		.form-select {
			@include evento-field;
		}

		.form-select {
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: "";
		}

		.js-form-type-select {
			position: relative;

			&::after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 22px 22px;
				border-color: transparent transparent #000000 transparent;
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: 5;
			}
		}

		.form-actions {
			
		}

		.form-submit {
			@include font(12px, 14px, 2.25px);
			font-family: $font-bsb;
			min-width: 153px;
			height: 34px;
			background: #99B2B7;
			text-align: center;
			text-transform: uppercase;
			border-radius: 20px;
			color: white;
			border: 0;
		}
	}

	.field--name-field-sponsors {
		@include ib-grid;
		text-align: left;

		.field__label {
			@include evento-title;
		}

		.field__items {
			@include ib-grid;
		}

		.field__item {
			@include inline-block;
			margin-right: 20px;

			@media only screen and (max-width: $tablet){
				width: 25%;
			}

			@media only screen and (max-width: $mobile) {
				display: block;
				text-align: center;
				width: 100%;
			}
		}
	}
}



