.node--type-bosque-007-main-image-text-left {
	&.node--view-mode-full {
		position: relative;

		@media only screen and (max-width: $tablet) {
			margin-left: -30px;
			margin-right: -30px;
		}

		.text-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 370px;
			height: 100%;
			z-index: 10;
			background-color: $color_brand;
			box-sizing: border-box;
			padding: 60px 35px 30px;

			@media only screen and (max-width: $tablet) {
				width: 265px;
				padding: 20px 5px 20px 30px;
			}
			
			@media only screen and (max-width: $mobile) {
				position: relative;
				top: auto;
				left: auto;
				width: 100%;
				padding: 40px 5px 35px 30px;
			}

			.field--name-field-pretitle {
				@include pretitle;
				color: $color_gray_80;
				margin-bottom: 10px;
			}

			.field--name-field-titulo-2 {
				font-family: $font-brandb;
				font-size: 28px;
				line-height: 31px;
				color: white;
				max-width: 300px;
				padding-bottom: 15px;

				@media only screen and (max-width: $mobile) {
					padding-bottom: 27px;
				}
			}

			.field--name-field-link {
				@media only screen and (min-width: $tablet) {
					position: absolute;
					bottom: 30px;
					left: 30px;
				}
			}

			a {
				@include buton-m-green;
				background-color: white;
				color: $color_brand;
			}
		}

		.image-content {
			text-align: right;

			img {
				vertical-align: top;
				height: auto;
				max-width: none;
				
				@media only screen and (max-width: $tablet) {
					height: 245px;
				}
			}
		}

		.button-arrow {
			position: absolute;
			bottom: 30px;
			right: 30px;
			z-index: 10;

			@media only screen and (max-width: $tablet) {
				max-width: 50%;
			}
			
			@media only screen and (min-width: $mobile) and (max-width: 615px) {
				max-width: 33%;
			}

			@media only screen and (max-width: $mobile) {
				right: 0;
				padding: 0 30px;
				max-width: none;
			}

			.field--name-field-titulo-3 {
				color: white;
				text-align: center;
				font-family: $font-serif-italic;
				font-size: 12px;
				line-height: 15px;
				margin-bottom: 10px;

				&::before {
					content: "";
					background: url('../images/svg/arrow-down-white.svg') no-repeat 50% 0;
					height: 22px;
					margin: 0 auto 10px;
					display: block;
				}
			}

			a {
				@include buton-m-green;
				padding: 15px 45px 16px;
				text-align: center;
				
				@media only screen and (max-width: $tablet) {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
	}
}
