.page-nuestro-bosque {
	&.carnetizacion {
		.node--type-bosque-004-bocadillo-body {
			padding-bottom: 15px;
		}
	}

	.sidebar_modal {
		@media only screen and (min-width: $mobile) {
			overflow-y: scroll;
			height: calc(100% - 70px);
		}
	}

	.block-block-contentdda30a33-eed8-46dd-b162-95b101754102 {
		border-bottom: 1px solid #ededed;
		max-width: 280px;
	}

	.block.menu-modal {
		.menu-item:first-child a {
			font-family: $font-baser;
			color: $color_gray_60;

			&:before {
				display: none;	
			}
		}

		.menu-item a:after {
			display: none;
		}
	}

	.sidebar-menu {
		margin-bottom: 5px;

		h2 {
			display: block;
			line-height: normal;
			margin-bottom: 0;
			padding: 8px 0 6px;
		}

		.menu-item {
			&:first-child {
				@include sidebar-menu-title-remove;

				a {
					text-transform: inherit;
					&::before {
						display: none !important;
					}
				}

				&.menu-item--active-trail {
					padding-top: 15px;
					padding-bottom: 15px;
					font-family: "latobold";
					color: #4A4A4A;
					position: relative;
					padding-left: 15px;
				}
			}
		}
	}

	&.alma-matter {
		@media only screen and (max-width: $tablet) {
			.field--name-node-title {
				margin-top: 20px;
			}
		}
		
		.block-block-contentb1a8ab16-3324-4e63-80c3-1e0b1b30584f {
			.text-content {
				&::before {
					display: none;
				}
			}
		}
	}

	&.caso-emergencia {
		.wrap-content {
			padding-bottom: 30px;
		}

		.field--name-field-body {
			ul {
				li {
					&::before {
						
					}
				}
			}
		}
	}
}
