.page-egresados {
	&.home {
		.sidebar-first {
			float: right;

			.region-content {
				border: 0;
			}
		}

		.sidebar-first + #main {
			.main-image .field--name-field-titulo-largo {
				padding-left: 40px;
			}

			.node--type-pagina-basica-bosque {
				padding-bottom: 0;

				.wrapper-enlace {
					right: 0;
				}

				.field--name-field-image {
					margin: 0;
				}
			}
		}

		.node--type-pagina-basica-bosque {
			.main-image::after {
				display: none;
			}
		}
	}

	.view-id-eventos_facultad {
		&.view-display-id-block_8 {
			.views-field-field-image {
				margin: 0 -18px 3px;
			}
		}
	}

	// URL: /egresados/convenios-descuentos
	&.convenios-descuentos {

	}

	.block-block-groupc25ae177-14b3-43c9-aa79-57729bcc7c8e,
	//.block-block-group860143b8-10e6-41aa-a462-3ff99eed0082,
	.block-estudios-services {
		@include grilla-3-columns-bs('> .block-inner', '.block');

		img {
			vertical-align: top;
		}
	}

	// textos simples
	.block-estudios-services {
		.field--name-field-pre-title {
			@include pretitle;
			margin-bottom: 5px;
		}
	}

	// Continue su formación
	.block-continua-formacion {
		.block-content {
			position: relative;
		}

		.field--name-field-enlace {
			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-indent: -99999px;
			}
		}
	}

  .block.form-inscription-process {
    .webform-submission-formulario-egresados-club-de-emp-form {
      h3,p {
        font-family: "latoregular";
        text-align: center;
        margin: 0;
      }
      h3 {
        font-size: 20px;
      }
      p {
        margin-bottom: 10px;
      }
      .js-form-type-checkbox {
        width: 50%;
        .description {
          display: block;
          margin-left:  28px;
          a {
            color: $color_gray_60;
            text-decoration-color: $color_brand;
          }
        }
      }
    }
  }

	// Block type 006
	.estilo-0006{
		margin-bottom: 30px;
	}

	#block-egresadosfromwetlemans-2,
	#block-egresadosglobaltravel1-2 {
		.inner {
			padding: 15px;
		}

		.field--name-field-pre-title {
			color: #9b9b9b;
			font-family: "latoregular";
			font-size: 10px;
			letter-spacing: 2px;
			line-height: 100%;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		h2 {
			font-family: "acherus_grotesquebold";
			font-size: 20px;
			line-height: 1.15;
		}

		.field--name-field-link {
			a {
				@include link-green;
			}
		}
	}

	#block-egresadosfromwetlemans-2 {
		.text-content {
			position: relative;
		}

		.inner {
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
			padding-top: 40px;
			box-sizing: border-box;
			background: rgba(0,0,0,.3px);
		}


		@media only screen and (min-width: $tablet) {
			img {
				height: 280px;
			}

			.inner {
				padding-top: 150px;
			}
		}

		@media only screen and (max-width: $mobile) {
			.inner {
				padding-top: 100px;
			}
		}

		.field--name-field-pre-title,
		h2 {
			color: white;
		}
	}

	.block-views-blocknoticias-1-block-9 {
		width: 66.66%;
		float: left;
		box-sizing: border-box;
		padding-right: 20px;

		.view-content {
			margin: 0 -10px;

			.views-row {
				padding: 0 10px;
				float: left;
				width: 50%;
				box-sizing: border-box;
			}

			.node {
				position: relative;
			}
		}

		img {
			vertical-align: top;
		}

		.text-content {
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			padding: 0 29px;
			box-sizing: border-box;
			background: rgba(0,0,0,.3px);

			.text-content-inner {
				display: table-row;
				width: 100%;

				.text-content-inner-2 {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		.field--name-field-noticias-taxonomia {
			color: white;
			font-family: "latoregular";
			font-size: 10px;
			letter-spacing: 2px;
			line-height: 100%;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		h3 {
			color: white;
			font-size: 20px;
		}

		.field--name-node-link {
			a {
				@include link-green;
			}
		}
	}

	.block-views-blocknoticias-1-block-10 {
		width: 33.33%;
		float: left;

		.views-field-field-noticias-taxonomia {
			color: #9b9b9b;
			font-family: "latoregular";
			font-size: 10px;
			letter-spacing: 2px;
			line-height: 100%;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.content-news--title {
			color: #4a4a4a;
			font-family: "acherus_grotesqueblack";
			font-weight: normal;
			letter-spacing: -0.5px;
			font-size: 20px;
			line-height: 31px;
		}

		.content-news--body {

		}

		img {
			vertical-align: top;
		}

		.content-news--links-read-more {
			padding-top: 5px;

			a {
				@include link-green;
			}
		}

		.views-field-field-noticias-taxonomia {
			padding: 15px 20px 0;
			margin: 0;
		}

		.views-field-nothing {
			padding: 8px 20px;
		}
	}

	.block-block-content394aa419-4d43-43fb-9f2e-a37ba23157e1 {
		clear: both;
	}

	.redes-sociales {
		> .block-inner {
			@include ib-grid;
		}
	}

	@mixin local-title {
		font-family: "latobold";
		font-size: 11px;
		letter-spacing: 2px;
		line-height: 12px;
		text-transform: uppercase;
		padding: 18px;
		margin: 0;
	}

	// Sidebar
	.block-views-blockeventos-facultad-block-8 {
		border: 1px solid #dddddd;
		border-bottom: 0;
		border-radius: 5px 5px 0 0;
		margin-bottom: 0;
		overflow: hidden;
		margin-top: 5px;

		h2 {
			@include local-title;
		}

		.views-element-container {
			padding: 0 18px 5px;
		}
	}

	.block-views-blockeventos-facultad-block-9 {
		border: 1px solid #dddddd;
		border-top: 0;
		border-radius: 0 0 5px 5px;
		margin-bottom: 5px;
		overflow: hidden;

		.views-element-container {
			padding: 0 18px;
		}
	}

	.node--type-eventos.node--view-mode-teaser .field--name-node-title h3 {
		font-family: $font-serif-italic;
		font-size: 12px;
	}

	.group-content-haz-parte,
	.group-content-portal-trabajo,
	.group-content-solicitar-carnet {
		background: #ddd;
		border-radius: 5px;
		text-align: center;
		padding: 14px 0 11px;
		margin-bottom: 5px;

		h2 {
			font-size: 14px;
			margin: 0;
			text-transform: uppercase;
			line-height: 20px;
			font-weight: normal;
      font-family: "latoregular";
		}

		p {
			color: #9b9b9b;
			font-size: 12px;
			margin-bottom: 5px;

			& + p {
				margin-bottom: 0;
			}
		}
	}

	.group-content-portal-trabajo {
		position: relative;
		background: #f6e652;
		padding-top: 78px;

		p {
			color: #4a4a4a;

			& + p {
				text-align: center;
			}
		}

		a {
			@include inline-block;
			margin: 0 auto;
			background: white;
			color: #4a4a4a;
			padding: 2px 30px;
			border-radius: 30px;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: bold;
		}

		.image-first-footer {
			position: absolute;
			top: 5px;
			left: 0;
			right: 0;
			width: 185px;
			margin: auto;
		}
	}

	.group-content-haz-parte {
		background: $color_brand;

		h2,
		p {
			color: white;
		}

		a {
			@include buton-s-border-white;
			padding: 2px 27px;
		}
	}

	#block-egresadossolicitarcarnet {
		a {
			@include inline-block;
			background: white;
			border-radius: 15px;
			padding: 5px 10px;
			font-size: 14px;
      color: $color_gray_60;
      text-decoration: underline;
      text-decoration-color: $color_brand;
		}
	}

	.sidebar_first {
		.view-footer {
			padding: 18px;
			background: white;

			a {
				border-bottom: 1px solid rgba(123, 193, 66, 0);
				color: #9b9b9b;
				display: block;
				font-family: "latobold";
				font-size: 12px;
				letter-spacing: 2px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				transition: border 500ms ease 0s;
			}
		}

		.content-documents-interest,
		.block-block-content8be84f80-8a13-40f1-be2d-347694491e25,
		.content-documents-represent {
			border: 1px solid #dddddd;
			border-radius: 5px;
			margin-bottom: 5px;
			overflow: hidden;

			.field--name-field-files,
			.field--name-field-archivos-facultad {
				padding: 8px 18px 5px;
			}

			.field--name-field-archivos-facultad .field__item {
				font-size: 14px;
				border-top: 1px solid #ddd;
				margin: 0 -18px;
				padding: 12px 18px;

				a {
					border-bottom: 1px solid rgba(123, 193, 66, 0);
					color: #4a4a4a;
					font-size: 11px;
					text-decoration: none;
					transition: border 500ms ease 0s;
				}

				&::before {
					content: url("../images/icon-pdf-green.svg");
					display: inline-block;
					margin-right: 11px;
					vertical-align: top;
				}
			}

			.field--name-field-title {
				.field__item {
					@include local-title;
				}
			}

			.field--name-field-texto-inferior {
				@include local-title;
			}

			h2 {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.view-id-egresados_representantes.view-display-id-block_1 {
		.views-row {
			font-size: 14px;
			border-bottom: 1px solid #ddd;
			// margin: 0 -18px;
			padding: 18px;
		}

		h4 {
			font-family: 'lato';
			font-size: 14px;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			margin: 0;
		}

		.view-header {
			h2 {
				@include local-title;
			}
		}

		.view-content {
			background: #fbfbfb;
		}

		.views-field-title {
			font-family: $font-serif-italic;
		}

		.views-field-field-mail-representative {
			a {
				border-bottom: 1px solid $color-brand;
				color: $color_gray_60;
				text-decoration: none;
			}
		}
	}

	.block-block-content8be84f80-8a13-40f1-be2d-347694491e25 {

	}

	#block-twittertimeline {
		max-width: 200px;

		.column-post:last-child {
			display: none;
		}
	}

	.redes-sociales {
		margin-top: 40px;
		margin-bottom: 20px;

		h2 {
			&::before {
				background: #9b9b9b none repeat scroll 0 0;
				border-radius: 20px;
				content: "";
				font-size: 23px;
				height: 5px;
				left: 0;
				margin: auto;
				display: block;
				right: 0;
				top: 35px;
				width: 5px;
			}
		}
	}

	.content-documents-asesorate {
		> * {
			box-sizing: border-box;
		}

		> .block-inner {
			> .field--name-field-title-e,
			> .field--name-field-title {
				border: 1px solid #ddd;
				border-bottom: 0;
				border-radius: 5px 5px 0 0;
				padding: 18px;
				font-family: "latobold";
			}
		}

		.field--name-field-asesores {
			border: 1px solid #ddd;
			border-top: 0;
			border-bottom: 0;
			background: #fbfbfb;
			padding: 18px;

			> .field__item {
				overflow: hidden;
				padding-bottom: 20px;
			}
		}

		.field--name-body {
			border: 1px solid #ddd;
			border-top: 0;
			border-radius: 0 0 5px 5px;
			background: #fbfbfb;
			padding: 0 18px 18px;
		}
		.field--name-field-image-n,
		.field--name-field-image {
			float: left;
			margin-right: 10px;
		}

		.text-content {
			overflow: hidden;
			.field--name-field-nombre,
			.field--name-field-title {
				font-family: "pt_serifitalic";
				font-size: 14px;
				padding-top: 5px;
			}
			.field--name-field-descripcion,
			.field--name-field-texto {
				font-size: 13px;
				color: #9b9b9b;
			}
		}

		h4 {
			font-size: 12px;
			margin: 0;
		}

		p {
			font-size: 11px;
			margin: 0;

			& + p {
				margin-top: 10px;
			}
		}

		img {
			border-radius: 30px;
			overflow: hidden;
		}
	}
}
