.page-masonry {	
	.layout-content {
		@media only screen and (max-width: $tablet) {
			padding-top: 20px;
		}
	}

	.view {
		@include grilla-4-columns('.views-infinite-scroll-content-wrapper, &.views-infinite-scroll-content-wrapper', '.views-row');
		@include grilla-2-columns('.views-infinite-scroll-content-wrapper, &.views-infinite-scroll-content-wrapper', '.views-row:first-child');
		@include select-base-1('.js-form-type-select', 'label', 'select');

		.view-filters {
			max-width: 500px;
		}

		@media only screen and (min-width: $mobile) {
			#edit-actions {
				width: 96px;
				margin-right: 5%;
			}

			.js-form-item-field-noticias-taxonomia-target-id {
				width: 30%;
				margin-right: 5%;

				select {
					min-width: inherit;
				}
			}

			.js-form-item-field-noticias-taxonomia-target-id-1 {
				width: 30%;
				margin-right: 0;

				select {
					min-width: inherit;
				}
			}
		}

		.form-actions {
			@include inline-block(top);

			.form-submit {
				@include buton-s-green;

				@media only screen and (max-width: $mobile) {
					width: 100%;
					padding: 11px 25px;
				}
			}
		}

		.views-infinite-scroll-content-wrapper, 
		&.views-infinite-scroll-content-wrapper {
			//float: right;
			// max-width: 840px;
			//margin: 0;
			width: 100%;
			float: left;
			padding-bottom: 30px;

			.views-row {
				display: block;
				float: left;
				margin-bottom: 15px;
				margin: 0 0 15px;
				max-width: none;
				width: 33.33%;
				@include Mobile // Menor a: $mobile-l-width: 425px;
				{
					width: 100%;
					margin-bottom: 0px;
					padding-left: 0px;
					padding-right: 0px;
				}
				.text-content
				{
					@include Mobile // Menor a: $mobile-l-width: 425px;
					{
						padding: 30px;
					}
					.field--name-node-title
					{
						@include Mobile // Menor a: $mobile-l-width: 425px;
						{
							font-size: 18px;

						}
					}
				}

				.image-content,
				.text-content {
					@media only screen and (max-width: $mobile) {
						//margin-left: -20px;
						// margin-right: -20px;
					}
				}
				&:first-child {
					max-width: none;
					width: 66.66%; //600px;
					position: relative !important;
					top: auto !important;

					@include Mobile // Menor a: $mobile-l-width: 425px;
					{
						width: 100%;
						padding-left: 0px;
						padding-right: 0px;
					}
					.text-content
					{
						background-color: transparent;
						@include Mobile // Menor a: $mobile-l-width: 425px;
						{
							padding: 30px;
						}
						.field--name-node-title
						{
							> h1, > h2, > h3, > h4
							{
								$fontSize: 28px;
								font-size: $fontSize;
								line-height: $fontSize + 3px;
								color: #2b3427;
							}
						}
					}
				}
			}
		}

		.pager {
			width: 100%;
			float: left;
			clear: both;

			.pager__item {
				text-align: center;
			}

			.button {
				@include buton-l-green;
			}
		}
	}

	.view-header,
	.view-filters
	{
		@include Mobile // Menor a: $mobile-l-width: 425px;
		{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.view-content
	{
		@include Mobile // Menor a: $mobile-l-width: 425px;
		{

		}
		.views-infinite-scroll-content-wrapper,
		&.views-infinite-scroll-content-wrapper
		{
			@include Mobile // Menor a: $mobile-l-width: 425px;
			{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	#main {
		.pager {
			margin-bottom: 50px;
		}

		.pager__item {
			text-align: center;
			padding: 0;

			a {
				@include buton-l-green;
			}
		}
	}
}
