
.page-audiencias {	
	// URL: docentes
	&.docentes {
		.region-section-1 {
			> div > div > .block-inner {
				position: relative;
				overflow: hidden;
			}
		}

		.region-section-2 {
			padding-top: 20px;
			padding-bottom: 40px;
		}

		.content2 {
			@include ib-grid;
		}

		.sub-columna-vertical {
			@media only screen and (min-width: $mobile) {
				@include grilla-2-columns-bs('.block-inner', '.block', 0);
			}
		}

		.region-section-4 {
			@include grilla-2-columns-bs('.region-content', '.block');
			padding: 50px 0 35px;

			@media only screen and (min-width: $mobile) and (max-width: $tablet) {
				padding: 35px 0 0px;
			}
		}

		#block-adocentesoportunidadesyapoyo {
			margin-top: -28px;

			.field--name-field-title::before {
				display: none;
			}
		}

		#main .content {
			padding-bottom: 10px;
		}

		.region-section-1,
		.region-section-3,
		.region-section-5 {
			@include block-pintadinho;
			padding: 39px 0 15px;

			@media only screen and (min-width: $mobile) and (max-width: $tablet) {
				padding-top: 20px;
				padding-bottom: 0;
			}
		}

		.educacion-continuada,
		.especializaciones-elbosque {
			margin-bottom: 20px;

			.block-inner {
				position: relative;
			}

			img {
				vertical-align: top;
			}

			.text-content {
				position: absolute;
				top: 0;
				left: 0;
				padding: 43px 30px 30px;
			}

			p {
				color: white;
			}

			strong {
				font-size: 20px;
				font-family: $font-baseb;
				font-style: normal;
			}

			.field--name-body {
				margin-bottom: 23px;
			}

			.field--name-field-body-2 {
				max-width: 210px;

				p {
					font-size: 14px;
					line-height: 17px;
				}

				a {
					@include buton-m-green;
					padding: 6px 27px;
					text-align: center;
				}
			}
			
			@media only screen and (min-width: $mobile) and (max-width: $tablet) {
				.text-content {
					padding-top: 27px;
				}

				.field--name-body {
					margin-bottom: 10px;
				}
				
				strong {
					font-size: 9px;
					line-height: 11px;
				}

				.field--name-field-body-2 {
					max-width: 135px;

					p {
						@include font(9px, 11px);
						margin-bottom: 15px;
					}
				
					a {
						@include font(8px, 10px, 1.6px);
						padding: 3px 0;
						min-width: 120px;
					}
				}
			}
		}

		.educacion-continuada {
			overflow: hidden;

			.field--name-body {
				p {
					font-family: $font-brandb;
					font-size: 13px;
					line-height: 12px;
					position: absolute;
					top: 20px;
					left: 35px;
					border-bottom: 1px solid $color_brand;
					padding-bottom: 6px;
				}

				p + p {
					font-family: $font-bli;
					font-size: 26px;
					line-height: 26px;
					letter-spacing: -0.09px;
					position: static;
					padding: 0;
					border: 0;

					strong {
						font-size: 26px;
						line-height: 26px;
						letter-spacing: .9px;
						font-family: $font-brandb;
					}
				}
			}

			.field--name-field-body-2 {
				float: right;

				p + p {
					text-align: center;
				}
				
			}
			
			@media only screen and (min-width: $mobile) and (max-width: $tablet) {
				.field--name-body {
					p {
						@include font(7.88px, 7.43px);
						top: 10px;
						left: 30px;
						padding-bottom: 5px;
					}

					p + p {
						@include font(15.75px, 15.75px, -0.05px);

						strong {
							@include font(15.75px, 15.75px, -0.06px);
						}
					}
				}
			}
		}

		.especializaciones-elbosque {
			.field--name-body {
				p {
					font-family: $font-bli;
					font-size: 26px;
					line-height: 26px;
					letter-spacing: -0.09px;
					position: static;

					strong {
						font-size: 26px;
						line-height: 26px;
						letter-spacing: .9px;
						font-family: $font-brandb;
					}
				}

				@media only screen and (min-width: $mobile) and (max-width: $tablet) {
					p {
						@include font(15.75px, 15.75px, -0.05px);

						strong {
							@include font(15.75px, 15.75px, -0.06px);
						}
					}
				}
			}
		}
		
		
		
		.columna-izquierda {
			.block {
				position: relative;

				&::before {
					content: "";
					width: 40px;
					height: 4px;
					position: absolute;
					bottom: -2px;
					left: 0;
					background: $color_brand;

					@media only screen and (min-width: $mobile) and (max-width: $tablet) {
						height: 2px;
						width: 25px;
					}
				}

				.field--name-body {
					p {
						padding: 0;
						margin: 0;
					}
				}
			}
		}

		#block-adocentesbosquecrecimientoa {
			.field--name-field-title {
				h2 {
					font-family: $font-bl;
					font-size: 33px;
					line-height: 40px;
				}
			}
			
			.field--name-body {
				strong {
					font-family: $font-brandb;
					font-size: 20px;
					line-height: 20px;
					font-weight: normal;
				}
			}
			
			@media only screen and (min-width: $mobile) and (max-width: $tablet) {
				.field--name-field-title h2 {
					font-size: 19.56px;
					line-height: 23.71px;
					letter-spacing: -0.3px;
					margin-top: -4px;
					margin-bottom: 9px;
				}

				.field--name-body {
					p {
						font-size: 8.3px;
						line-height: 10px;
					}

					strong {
						font-size: 12px;
						line-height: 12px;
						letter-spacing: -0.1px;
						margin-bottom: 3px;
					}
				}
			}
		}

		#block-adocentessubbloqueuno {
			background-color: #F4670C;

			.field--name-field-image {
				@media only screen and (min-width: $mobile) and (max-width: $tablet) {
					max-width: 100px;
					margin: 0 auto;
				}
			}

			.field--name-field-title2 {
				display: none;
			}

			.field--name-field-body {
				p {
					color: white;
				}

				@media only screen and (min-width: $mobile) and (max-width: $tablet) {
					padding: 0;

					p {
						font-size: 8.3px;
						line-height: 10px;
					}
				}
			}
		}

		#block-bdocentesnuestrosservicios {
			background-color: $color_brand;

			.field--name-body {
				p {
					font-family: $font-baser;
					font-size: 10px;
					line-height: 12px;
					letter-spacing: 2px;
					color: white;
				}

				h3 {
					font-family: $font-brandb;
					font-size: 23px;
					line-height: 23px;
					letter-spacing: -0.9px;
					color: white;

					& + p {
						font-family: $font-baser;
						font-size: 14px;
						line-height: 17px;
						letter-spacing: auto;
						color: $color_gray_80;
					}

					& + p + p {
						font-family: $font-serif-italic;
						font-size: 12px;
						line-height: 15px;
						letter-spacing: auto;
						color: $color_gray_80;

						&::before {
							content: "";
							background: url('../images/svg/arrow-down-white.svg') no-repeat 50% 0;
							height: 22px;
							margin: 0 auto 10px;
							display: block;
						}
					}
				}

				@media only screen and (min-width: $mobile) and (max-width: $tablet) {
					p {
						@include font(5.93px, 7px, 1.19px);
					}

					h3 {
						@include font(13.63px, 13.63px, -0.53px);

						& + p {
							@include font(8.3px, 10px);
						}

						& + p + p {
							@include font(7.11px, 9px);
							margin-top: -5px;

							&::before {
								background-size: 9px auto;
							}
						}
					}
				}
			}
		}

		#block-adocentessubbloqueuno,
		#block-bdocentesnuestrosservicios {
			border: 0;
			position: relative;

			@media only screen and (min-width: $mobile) and (max-width: $tablet) {
				padding-bottom: 20px;
			}

			.block-inner {
				margin: 0;

				@media only screen and (min-width: $mobile) and (max-width: $tablet) {
					min-height: 310px;
				}
			}

			div[class*="body"] {
				p {
					&:last-child {	
						a {
							@include buton-m-green;
							background-color: white;
							color: $color_brand;
						}
						
						@media only screen and (min-width: $mobile) and (max-width: $tablet) {
							position: absolute;
							bottom: 20px;
							left: 0;
							margin: 0;
							width: 100%;
							text-align: center;

							a {
								@include font(8px, 10px, 1.16px);
								padding: 9px 0 7px;
								min-width: 135px;
							}
						}
					}
				}
			}
		}

		#block-adocentescredito {
			.field--name-field-links {
				padding: 10px 0;
				position: relative;

				a {
					@include buton-s-green;
					padding: 5px 35px;
				}

				@media only screen and (min-width: $mobile) and (max-width: $tablet) {
					padding: 0 0 5px;
					margin-top: -5px;

					a {
						@include font(8px, 10px, 1.6px);
						padding: 3px 10px 2px;
					}
				}
			}
		}

		#block-bdocentescoperativa {
			border: 0;
		}
	}

	// URL: /aspirantes
	&.aspirantes {
		.close-cerrar {
			display: none;
		}

		.form-item-autorizo-a-la-universidad-el-bosque-para-el-envio-de-informacion {
			text-align: center;
		}

		.node--type-bosque-003-html-slider {
		    .image-content {
		        @media only screen and (max-width: $mobile) {
		            height: 200px;
					overflow: hidden;
		        }

				img {
					vertical-align: top;
					display: block;
					margin: 0 auto;
					max-width: none;

					@media only screen and (min-width: $mobile) and (max-width: $tablet) {
						height: 405px;
						min-width: $tablet;
					}
					
			        @media only screen and (max-width: $mobile) {
			            height: 200px;
			        }
				}
		    }
		}

		.form-inscription-process {
			width: auto !important;
		}

		#block-formularioweb-2 {
			&::after {
				display: none !important;
			}

			#edit-actions {
				padding-top: 0 !important;
			}
		}

		.group-multigrid {
			.block-inner {
				@media only screen and (min-width: $mobile) {
					overflow: hidden;
				}
			}

			.estilo-0009 {
				float: left;
				margin-top: -56px;
				padding-bottom: 20px;
				
				.contextual {
					top: 55px;
				}
			}
		}

		.estilo-0009 {
			.field--name-field-bocadillo {
				font-size: 39px;
				line-height: 40px;
				text-align: center;
				margin-top: -5px;

				@media only screen and (max-width: $tablet) {
					font-size: 20px;
					line-height: 19px;
					padding: 0 20px;
					letter-spacing: 0;
				}
			}
		}

		// primer bloque debajo del slider y form
		.block-block-groupf2a8755f-5dc3-40c9-861b-c43b8a0323df {
			padding-top: 45px;
			margin: 0 -10px;

			@media only screen and (max-width: $mobile) {
				margin: 0;
			}
		}

		.block-block-groupf2a8755f-5dc3-40c9-861b-c43b8a0323df,
		.group-grid {
			// padding-bottom: 0;

			> .block-inner {
				overflow: hidden;
			}

			.field--name-field-title::before {
				display: none;
			}

			.estilo-0009 {
				float: left;
				margin-top: -56px;
				padding-bottom: 25px;
				padding-top: 10px;

				@media only screen and (min-width: $mobile) {
					width: 50%;
					padding-top: 0;
					// padding-bottom: 0;
				}
			}
		}

		.group-grid {
			@media only screen and (max-width: $tablet) {
				padding-top: 35px;
			}

			@media only screen and (max-width: $mobile) {
				padding-top: 0;
			}
		}

		.group-grid,
		.banner-search {
			@media only screen and (max-width: $mobile) {
				background: white;
				
				&::before,
				&::after {
					display: none;
				}
			}
		}

		.estilo-0010 {
			@media only screen and (max-width: $mobile) {
				margin-left: -30px;
				margin-right: -30px;
				width: 120%;
				width: calc(100% + 60px);
			}
		}

		#block-blockgroup2imagenesbocadillovideoyblog {
			@media only screen and (max-width: $mobile) {
				padding-bottom: 15px;
			}
		}

		.container-multimedia-blog {
			@media only screen and (min-width: $mobile) {
				padding-top: 70px;
			}

			@media only screen and (min-width: $mobile) and (max-width: $tablet) {
				padding-top: 50px;
			}
		}

		.container-multimedia-blog,
		.container-multimedia-blog .block-pintadinho {
			background: white !important;

			&::before,
			&::after {
				display: none !important;
			}
		}


    .blog-wordpress .field__label {
      display: none;
    }

    @media only screen and (max-width:$mobile) {
      .node--type-bosque-003-html-slider .text-content {
        padding: 25px 30px;
      }

    }.node--type-bosque-003-html-slider .buttons-wrapper a.carousel-control {
      background-size: 15px;
      width: 20px;
      height: 30px;

    }

		@media only screen and (max-width:$mobile) {
			.estilo-0007.imagen-completa .image-content {
				display: block;
				margin-top: 30px;
				.field--name-field-image {
					float: none;
					width: 100%;
				}
			}
		}
	}

	&.estudiantes {
		.audiencia-aspirantes-multimedia {
			margin-top: 0;
		}
		
		#block-eestiduanteshacemosgrandeelbosquee {
			.block-inner {
				overflow: hidden;
			}

			.block-content {
				margin-top: -70px;
				padding: 0 15px;
			}
			
			.field--name-field-title {
				padding-top: 15px;
				margin-bottom: 25px;
				
				@media only screen and (max-width: $tablet) {
					margin-bottom: 15px;
				}

				h2 {
					margin: 0;
				}
			}

			.field--name-field-bocadillo {
				@include font(40px, 39px);

				@media only screen and (max-width: $tablet) {
					@include font(20px, 24px);
				}

				@media only screen and (max-width: $mobile) {
					line-height: 19px;
				}
			}
		}

		.group-event-convocatory {
			
		}

		.estilo-0009 {
			float: left;
			width: 50%;
      		box-sizing: border-box;
      		padding: 0 10px;
      		text-align: center;

      		@media only screen and (max-width:$mobile) {
        		margin-bottom: 30px;
        		width: 100%;
      		}
    	}
	
    	.estilo-0007.imagen-completa .text-content {
			width: 51%;

      		@media only screen and (max-width:$mobile) {
        		width: 100%;
			}
    	}

		.estilo-0009 .field--name-field-pre-title {
			top: 15px;
		}

		.estilo-0009 .field--name-field-title {
			padding-top: 30px;
			margin-bottom: 20px;

			@media only screen and (max-width: $tablet) {
				margin-bottom: 0;
			}
		}


    	.estilo-0009 .field--name-field-bocadillo {
			@media only screen and (max-width: $tablet) {
          	  font-size: 20px;
          	line-height: 23.71px;
        	}

        	@media only screen and (max-width: $mobile) {
          	  font-size: 22px;
          	line-height: 28px;
        	}
    	}

    	.estilo-0009 .field--name-field-title::before {
      	  display: none;
    	}

		.estilo-0010.single-video {
			clear: none;	
		}

		@media only screen and (max-width:$mobile) {
			.estilo-0007.imagen-completa .image-content {
				display: block;
				margin-top: 30px;

				.field--name-field-image {
					float: none;
					width: 100%;
				}
			}
		}
	}


	.block-block-group80a4b97b-344b-43ac-89d4-9674776b261f,
	   .group-grid{
		   padding-bottom: 0;

		   > .block-inner {
			   overflow: hidden;
		   }

		   .field--name-field-title::before {
				display: none;
			}

			.estilo-0009 {
				float: left;
				margin-top: -56px;
				padding-bottom: 25px;
				padding-top: 10px;

				@media only screen and (min-width: $mobile) {
					width: 50%;
					padding-top: 0;
					// padding-bottom: 0;
				}
			}
			.estilo-0010.single-video {
			   clear: none;	
		    }
	}
	
	&.administrativos {
        .audiencia-aspirantes-multimedia {
            margin-top: 0;
        }

        .estilo-0009 {
            display: inline-block;
            vertical-align: top;
            float: left;
            padding: 0 10px;
            box-sizing: border-box;
            text-align: center;
            width: 50%;
            @media only screen and (max-width: $mobile) {
                width: 100%;
            }
        }

        .estilo-0009 .block-inner {
            @include ib-grid;
        }

        .estilo-0009 .field--name-field-pre-title {
            top: 15px;
        }

        .estilo-0009 .field--name-field-title {
            padding-top: 30px;
            margin-bottom: 20px;
            @media only screen and (max-width: $tablet) {
                margin-bottom: 0;
            }
        }

        .estilo-0009 .field--name-field-bocadillo {
            font-size: 39px;
            line-height: 42px;
            padding-bottom: 45px;
            
			      @media only screen and (max-width: $tablet) {
                font-size: 20px;
                line-height: 23.71px;
            }

            @media only screen and (max-width: $mobile) {
                font-size: 22px;
                line-height: 28px;
            }
        }

        .estilo-0009 .field--name-field-title::before {
            display: none;
        }

        .admin-slider {
            .node--type-bosque-003-html-slider .text-content {
                text-align: center;
                top: 10%;
                @media only screen and (max-width: $mobile) {
                    top: 0;
                }
            }

            .node--type-bosque-003-html-slider .text-content p {
                font-size: 15px;
                margin: 0 auto;
                max-width: 700px;
                @media only screen and (max-width: $mobile) {
                    font-size: 10px;
                    display: block;
                    line-height: 11px;
                }
            }
			
            .node--type-bosque-003-html-slider .text-content h1 {
                padding-bottom: 0;
                width: 100%;
                @media only screen and (max-width: $mobile) {
                    font-size: 16px;
                    line-height: 3px;
                }
            }

            .node--type-bosque-003-html-slider .text-content a {
                margin-top: 50px;
                @media only screen and (max-width: $mobile) {
                    margin-top: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }

        .mid-block {
            @include inline-block(top);
            box-sizing: border-box;
            padding: 50px 40px;
            text-align: center;
            width: 50%;

            h2 {
                font-family: $font-bsb;
                font-size: 22px;
                line-height: 26px;
				@media only screen and (max-width: $tablet) and (min-width: $mobile) {
					font-size: 13.63px;
					line-height: 15px;
				}
            }

			h2 + p + p:before {
				content: "";
    			height: 22px;
    			margin: 0 auto 10px;
    			display: block;
				@media only screen and (max-width: $tablet) and (min-width: $mobile) {
					background-size: 9px !important;
					height: 15px;
				}
			}

            h4 {
                font-family: $font-baser;
                font-size: 10px;
                letter-spacing: 2px;
                text-transform: uppercase;
				@media only screen and (max-width: $tablet) and (min-width: $mobile) {
					font-size: 5.93px;
					line-height: 10px;
				}
            }
			
			p {
				font-size: 14px;
				line-height: 17px;
				@media only screen and (max-width: $tablet) and (min-width: $mobile) {
					font-size: 8.3px;
					line-height: 10px;
				}
			}

            em {
                font-family: $font-serif-italic;
                font-size: 12px;
				@media only screen and (max-width: $tablet) and (min-width: $mobile) {
					font-size: 7.11px;
					line-height: 9px;
				}
            }

            @media only screen and (max-width: $tablet) and (min-width: $mobile) {
    			padding: 20px 16px;
            }

            @media only screen and (max-width: $mobile) {
                margin-bottom: 15px;
                width: 100%;
            }
        }
        
		.postulate {
            border: 1px solid $color_gray_20;
            
			h2 + p + p:before {
    			background: url(../images/svg/arrow-down-green.svg) no-repeat 50% 0;
			}

			a {
                @include buton-m-green;
				padding-top: 11px;
                padding-bottom: 11px;
				@media only screen and (max-width: $tablet) and (min-width: $mobile) {
					font-size: 8px;
					padding: 9px 10px 7px;

				}
            }
        }
       
	    .tramite {
            background-color: $color-brand;
			border: 1px solid $color-brand;
            
			h2 + p + p:before {
				background: url(../images/svg/arrow-down-white.svg) no-repeat 50% 0;
			}

			a {
                @include buton-xl-white;
                padding-top: 9px;
                padding-bottom: 9px;
				@media only screen and (max-width: $tablet) and (min-width: $mobile) {
					font-size: 8px;
					padding: 9px 10px 7px;

				}
            }
           
		    h2 {
                color: white;
            }
        }
        @mixin lateral-bar($item,
        $side,
		$sidew:-90px,
        $width:90px) {
            &:#{$item} {
                content: "";
                display: block;
                width: $width;
                height: 100%;
                background-color: $color-gray-5;
                position: absolute;
                top: 0;
                #{$side}: $sidew;
            }
        }
        
		.tipo-cuatro {
            @include lateral-bar(before,
            left);
            @include lateral-bar(after,
            right);
            margin-top: 50px;
            padding-top: 50px;
            background-color: $color-gray-5;
            position: relative;
        }
       
	    .hacemos-grande-el-bosque {
            @include lateral-bar(before,
            left, -100px, 100px);
            @include lateral-bar(after,
            right, -100px, 100px);
			float: none;
            position: relative;
            background-color: $color-gray-5;
			width: 100%;
            
			.block-inner {
                overflow: hidden;
            }

			.estilo-0009 {
				margin-top: -55px;
			}
        }

        .content2 {
            @include ib-grid;
            margin-top: 50px;
        }

        .columna-izquierda {
            @include inline-block(top);
            border-right: 1px solid $color_gray_15;
            box-sizing: border-box;
            width: 25%;
            
			.block .block-inner {
                // padding: 0;
            }
           
		    .estilo-0002b {
                padding-right: 50px;
                border-bottom: 1px solid $color_gray_15;
                
				&:nth-child(n+3) {
                    padding-top: 20px;
                }
                
				.field--name-field-title h2 {
                    font-family: $font-bli;
                    font-size: 33px;
                    line-height: 40px;
                    @media only screen and (max-width: $tablet) {
                        font-size: 19.56px;
                        line-height: 23.71px;
                        letter-spacing: -0.3px;
                    }
                }

                @media only screen and (max-width: $tablet) {
                    padding-right: 0;
                }
            }

            @media only screen and (max-width: $mobile) {
                border-right: none;
                width: 100%;
            }
        }
        .columna-central {
            @include inline-block(top);
            box-sizing: border-box;
            width: 50%;
            
			.estilo-0009 {
                width: 100%;
                float: none;
                @media only screen and (max-width: $mobile) {
                    margin-bottom: 0;
                }
            }
            .estilo-0013e {
                background-color: #f4670d;
                padding: 15px 15px 55px;
                position: relative;
                
				h2 {
                    position: absolute;
                    left: 45%;
                }

                .field--name-field-body a {
                    @include buton-xl-white;
                    position: absolute;
                    bottom: 35px;
                    left: 40%;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    @media only screen and (max-width: $tablet) {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        left: 32%;
                    }
                }

                @media only screen and (max-width:$mobile) {
                    margin-left: -30px;
                    margin-right: -30px;
                    .field--name-field-body a {
                        display: none;
                    }
                }
            }

            @media only screen and (max-width: $mobile) {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 40px;
                width: 100%;
            }
        }
        .columna-derecha {
            @include inline-block(top);
            border-left: 1px solid $color_gray_15;
            box-sizing: border-box;
            width: 25%;

            .block .block-inner {
                padding: 0;
            }

            .estilo-0002b {
                padding-left: 20px;
                border-bottom: 1px solid $color_gray_15;
                
				&:nth-child(n+3) {
                    padding-top: 20px;
                }

                &:last-child {
                    border-bottom: none;
                }
                .field--name-field-links {
                    position: initial;
                }

                a {
                    @include buton-s-green;
                    margin-bottom: 27px;
                }

                @media only screen and (max-width: $mobile) {
                    padding-left: 0;
                    border-bottom: none;
                }
            }

            @media only screen and (max-width: $mobile) {
                width: 100%;
				border-left: none;
            }
            
        }

        .block-views-blocknoticias-1-block-5-noticias-aspirantes {
            @include lateral-bar(before,
            left, -100px, 100px);
            @include lateral-bar(after,
            right, -100px, 100px);
            background-color: $color-gray-5;
            margin-top: 50px;
            position: relative;
        }

        @media only screen and (max-width:$mobile) {
            .block-blockgroup.columna-central .field--name-field-bocadillo {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}