.page-responsabilidad-social {
	.wrapper-enlace {
		right: auto;
		left: 55px;
	}

	.node--type-pagina-basica-bosque {
		.field--name-field-enlace a {
			color: $color_brand;
			background: white;
		}

		.field--name-field-texto-encima-del-enlace::before {
			
		}
	}

	.block-webform-block .js-form-type-checkbox {
		padding-right: 0;
		text-align: center;
	}

	.region-section-2 {
		padding: 50px 0;
	}

	.region-section-3 {
		@include block-pintadinho;
		margin-bottom: 50px;
	}

	.region-section-4 {
		padding-bottom: 50px;
	}

	.content2,
	.content3,
	.content4 {
		@include ib-grid;
	}

	.block-views-blockhome-responsabilidad-social-block-1,
	.block-views-blockhome-responsabilidad-social-block-2,
	.block-views-blockhome-responsabilidad-social-block-3,
	.block-views-blockhome-responsabilidad-social-block-4 {
		@include inline-block;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;

		img {
			vertical-align: top;
			max-width: none;
			width: auto;
		}
	}

	.block-views-blockhome-responsabilidad-social-block-4 {
		width: 20.5%;
		background: #D1DBE6;
		padding: 30px 20px;

		.antetitulo-responsabilidad-social {
			@include pretitle;
			margin-bottom: 30px;
		}

		.titulo-responsabilidad-social {
			@include font(30px, 30px, -0.45px);
			font-family: $font-bli;

			&:first-line {
				font-family: $font-brandb;
				letter-spacing: -0.5px;
			}
		}

		.link-responsabilidad-social {
			padding-top: 15px;

			a {
				@include buton-s-green;
				background: #0C5E99;
				padding: 5px 22px;
			}
		}
	}
	
	.block-views-blockhome-responsabilidad-social-block-1 {
		width: 20.5%;
		padding: 30px 35px 5px;
		border-top: 1px solid $color_gray_15;
		border-bottom: 1px solid $color_gray_15;

		.views-field-nothing {
			@include pretitle;
			margin-bottom: 25px;
		}

		.views-field-title {
			@include font(20px, 20px, -0.5px);
			font-family: $font-brandb;
			margin-bottom: 12px;
		}

		.views-field-field-bocadillo {
			@include font(14px, 17px);
			font-family: $font-baser;
		}

		.views-field-view-node {
			padding-top: 15px;

			a {
				@include link-green;
			}
		}
	}

	.block-views-blockhome-responsabilidad-social-block-2 {
		width: 34%;
		background: #F2F2F2;

		.views-field-field-image {
			float: left;
			width: 235px;
			overflow: hidden;
		}

		.text-content {
			padding: 30px 15px 0;
			overflow: hidden;
			box-sizing: border-box;
		}

		.views-field-nothing {
			@include pretitle;
			margin-bottom: 10px;
		}

		.views-field-title {
			@include font(20px, 20px, -0.5px);
			font-family: $font-brandb;
			margin-bottom: 12px;
		}

		.views-field-field-bocadillo {
			@include font(14px, 17px);
			font-family: $font-baser;
		}

		.views-field-view-node {
			padding-top: 15px;

			a {
				@include link-green;
			}
		}
	}
	
	.block-views-blockhome-responsabilidad-social-block-3 {
		width: 25%;

		.text-content {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 60px 40px 20px;
		}

		.views-field-title {
			@include font(20px, 20px, -0.5px);
			font-family: $font-brandb;
			margin-bottom: 12px;
			color: white;
		}

		.views-field-view-node {
			a {
				@include link-green;
			}
		}
	}

	.block-views-blockhome-responsabilidad-social-block-6,
	.block-views-blockhome-responsabilidad-social-block-7 {
		@include inline-block;
		width: 25%;
	}

	.block-views-blockhome-responsabilidad-social-block-7 {
		position: relative;
		box-sizing: border-box;
		padding-right: 15px;

		.text-content {
			position: absolute;
			bottom: 0;
			left: 0;
			box-sizing: border-box;
			padding: 15px;
			background: $color_gray_5;
		}

		.field--name-field-noticias-taxonomia {
			@include pretitle;
			margin-bottom: 10px;
		}

		h3 {
			@include inline-block;
			@include font(20px, 20px, -0.5px);
			font-family: $font-brandb;
		}

		.field--name-node-link {
			a {
				@include link-green;
			}
		}
	}

	.block-views-blockhome-responsabilidad-social-block-6 {
		h2 {
			@include font(16px, 19px, .09px);
			font-family: $font-brandextra;
			margin-bottom: 5px;
		}

		.view-footer {
			text-align: center;
			padding: 15px 0 0;

			a {
				@include link-green;
			}
		}
	}

	.informe-sostenibilidad {
		@include inline-block;
		width: 71.5%;
		margin-right: 3%;
	}

	.responsabilidad-social-documents {
		@include inline-block;
		min-height: 188px;
		width: 25%;
		padding-left: 20px;
		box-sizing: border-box;
		border-left: 1px solid #EDEDED;
		
		.field--name-field-title {
			@include font(18px, 24px, -0.5px);
            line-height: 20px;
            padding-right: 20px;
			font-family: $font-brandb;
			color: $color_brand;
			margin-bottom: 10px;
		}
		
		.field--name-field-bocadillo {
            @include lato-regular-normal;
			@include font(16px, 22px, inherit);
            padding-bottom: 20px;
            padding-right: 20px;
		}
		
		.field--name-field-link {
			a {
				@include bt-line-green-xl;
				padding: 7px 25px;
			}
		}
	}
	
	.tabs-resposanbilidad-social {
		@include default-tabs;

		.tabMakerTab,
		.tabMakerTabMobile {
			h2 {
				@include inherit;
				display: inline;
			}
		}

		@media only screen and (max-width: $tablet) {
			.tabMakerTab {
				width: 1%;
				display: table-cell;
			}

			.lavalamp-bar {
				margin-left: 0 !important;
			}
		}

		@media only screen and (max-width: $mobile) {
			margin-left: -30px;
			margin-right: -30px;

			.tabMakerContentInner {
				padding: 30px;
			}
		}

		.tabMakerContent {
			overflow: hidden;
			padding: 75px 20px;
			max-width: 960px;
			margin: 0 auto;

			@media only screen and (max-width: $tablet) {
				padding: 45px 0;
			}

			@media only screen and (max-width: $mobile) {
				padding: 0;
			}

			@media only screen and (min-width: $mobile) {
				.text-content {
					max-width: 70%;
					float: left;
				}

				.aside {
					max-width: 30%;
					float: left;
					padding: 0 20px 30px;
					box-sizing: border-box;
					border-left: 1px solid $color_gray_20;
				}
			}

			@media only screen and (max-width: $mobile) {
				.text-content  {
					padding: 0 0 30px;
				}

				.aside {
					padding: 0 0 10px;
				}
			}
		}

		h3 {
			@include font(33px, 41px);
			margin-bottom: 25px;
		}

		.field--name-field-entry-description {
			@include font(28px, 30px, -0.5px);
			font-family: $font-bl;
			margin-bottom: 20px;
		}

		.field--name-field-contenido-bloque {
			padding-bottom: 20px;
		}

		.field--name-field-image {
			padding-bottom: 10px;

			img {
				vertical-align: top;
			}
		}

		.field--name-field-tab-bocadillo {
			@include font(14px, 19px);
			font-family: $font-serif-italic;
		}

		h4 {
			@include font(18px, 24px);
			color: $color_brand;
			margin-bottom: 20px;
		}
	}

	.estilo-0006 h2 {
		min-height: auto;
	}

	@media only screen and (min-width: $mobile) and (max-width: $tablet) {
		.wrapper-enlace {
			left: 0;
		}

		.node--type-pagina-basica-bosque .main-image .field--name-field-image img {
			max-width: none;
			width: auto;
		}

		.block-views-blockhome-responsabilidad-social-block-4 {
			width: 34%;
		}

		.block-views-blockhome-responsabilidad-social-block-1 {
			width: 66%;
		}
		.block-views-blockhome-responsabilidad-social-block-2 {
			width: 60%;
		}

		.block-views-blockhome-responsabilidad-social-block-3 {
			width: 40%;
		}

		.content3 {
			max-width: 88%;
			margin: 0 auto;
		}

		.block-views-blocknoticias-1-block-1 {
			width: 100%;
		}

		.block-views-blockhome-responsabilidad-social-block-7 {
			width: 50%;
		}

		.block-views-blockhome-responsabilidad-social-block-6 {
			width: 50%;
			padding-left: 15px;
			box-sizing: border-box;
		}

		.form-inscription-process {
			width: auto !important;
			margin: 0 -30px !important;
			padding-left: 30px !important;
			padding-right: 30px !important;
		}

		.estilo-0006 {
			h2 {
				display: block;
			}

			.text-content {
				.field {
					max-width: 80%;
				}
			}

			.field--name-field-image {
				right: -40%;
			}

			.field--name-field-body {
				p {
					@include font(12px, 15px);
				}
			}
		}
	}

	@media only screen and (max-width: $mobile) {
		.wrapper-enlace {
			left: 0;
		}

		.block-views-blockhome-responsabilidad-social-block-1,
		.block-views-blockhome-responsabilidad-social-block-2,
		.block-views-blockhome-responsabilidad-social-block-3,
		.block-views-blockhome-responsabilidad-social-block-4 {
			width: 100%;
			height: auto !important;
		}

		.block-views-blockhome-responsabilidad-social-block-1 {
			padding-bottom: 20px;
		}

		.block-views-blockhome-responsabilidad-social-block-2 .views-field-field-image {
			width: 120px;
		}

		.informe-sostenibilidad,
		.responsabilidad-social-documents {
			width: 100%;
		}
		
		.estilo-0006 .alineado_vertical_class-token.alto-100 + .field--name-field-image {
			right: auto;
			left: 50%;
		}

		.block-views-blocknoticias-1-block-1 .view-content .views-row:last-child {
			display: block;
		}

		.block-views-blockhome-responsabilidad-social-block-6,
		.block-views-blockhome-responsabilidad-social-block-7 {
			width: 100%;
		}

		.form-inscription-process {
			width: auto !important;
			margin: 0 -30px !important;
			padding-left: 30px !important;
			padding-right: 30px !important;
		}

		.region-section-4 {
			padding: 0;
		}

		.field--name-field-titulo-largo {
			padding-left: 0 !important;
			word-break: break-all;
		}

		.estilo-0006 {
			margin-left: -30px;
			margin-right: -30px;
			width: auto;

			h2 {
				@include font(22px, 22px, -0.07px);
				display: block;
				width: auto;
			}

			.block-inner {
				min-height: auto;
			}

			.text-content {
				padding-top: 10px;
				padding-bottom: 10px;

				.field {
					max-width: 60%;
				}
			}

			.field--name-field-image {
				right: -40%;
			}

			.field--name-field-body {
				p {
					@include font(11px, 13px);
				}
			}

			.field--name-field-link {
				position: static;

				a {
					@include font(8.4px, 10px, 1.68px);
				}
			}
		}

		.responsabilidad-social-documents {
			border: 0;
			padding: 0;
		}
	}
}


