.page-investigaciones {
    @include desplegableMaker-outer('&.gestion-proyectos .content1', '.block', '.text-content', '.field--name-field-title2 h3');
    @include desplegableMaker-inner('&.gestion-proyectos .content1 .text-content', '.null', '.field--name-body', '.null');

	.aside [class*="field--name-field-title"] {
		color: #7bc142;
        font-family: "acherus_grotesquebold";
        font-size: 18px;
        letter-spacing: -0.5px;
        line-height: 24px;
        margin-bottom: 10px;
        margin-top: -3px;

        * {
            @include inherit;
        }
	}
	// URL: /investigaciones
	&.home {
		@include grilla-2-columns-bs('.content1', '.block');
		@include grilla-3-columns-bs('.content3', '.block');
		@include grilla-2-columns-bs('.content4', '.estilo-0002d');

		// Sección de tu interés Tablet
		@media only screen and (min-width: $mobile) and (max-width: $tablet) {
			@include grilla-2-columns-bs('.view-noticias-1.view-display-id-block_7 .view-content', '.views-row'); // Columnas 1 y 2
			@include grilla-2-columns-bs('.blockgroup-noticias > .block-inner', '#block-views-block-noticias-1-block-8, #block-views-block-convocatorias-block-10'); // Columnas 3 y 4
		}

		// Sección de tu interés Desktop
		@media only screen and (min-width: $tablet) {
			@include grilla-2-columns-bs('.blockgroup-noticias > .block-inner', '#block-views-block-noticias-1-block-7'); // Contenedor de Columnas 1 y 2
			@include grilla-2-columns-bs('.view-noticias-1.view-display-id-block_7 .view-content', '.views-row'); // Columnas 1 y 2
			@include grilla-4-columns-bs('.blockgroup-noticias > .block-inner', '#block-views-block-noticias-1-block-8, #block-views-block-convocatorias-block-10'); // Columnas 3 y 4
		}

		.block-block-content99c1968f-9077-46d3-9b2b-de4f1c95caed {
			margin-bottom: 0; // 70px
		}

		.region-section-2 {
			padding-bottom: 75px;
		}

		.region-section-6 {
			padding-bottom: 30px;
		}

		.layout-content--post-content {
			.region-content {
				@include block-pintadinho;
				padding-bottom: 35px;
			}
		}

		.preguntas-frecuentes {
			> .block-inner {
				> h2 {
					display: none;
				}
			}

			.view {
				max-width: 890px;
				margin: 0 auto;
			}

			.view-header {
				margin-bottom: 5px;
			}

			.view-footer {
				padding-top: 20px;
			}

			.views-row {
				position: relative;

				.views-field-title {
					@include font(14px, 19px);
				}

				&:nth-of-type(2) {
					&::before,
					&::after {
						content: "";
						background: #DDDDDD;
						height: 49px;
						width: 1px;
						position: absolute;
						top: 0;
						left: 0;
					}
					
					&::after {
						left: auto;
						right: 0;
					}
				}
			}

			.views-field-nothing {
				padding-top: 10px;

				a {
					@include link-green;
				}
			}
		}

		.content.region-content {
			padding-bottom: 20px;

			.basic-content {
				text-align: left;
			}

			.field--name-field-pre-title {
				position: relative;
				top: auto;
				left: auto;
				text-align: left;
			}
		}

		.block-views-blockconvocatorias-block-10 {
			.view-id-convocatorias {
				.view-footer{
					text-align: center;
   					padding-top: 10px;
					a {
						@include link-text;
					}
				}
			}
		}

		.boton-content {
			margin-bottom: 30px;

			.field--name-body {
	            &::before {
	                content: url("../images/svg/arrow-down-green.svg");
					margin: 0 auto;
					display: block;
					width: 15px;
					height: 22px;

					@media only screen and (min-width: $mobile) {
						margin-top: 80px;
					}
	            }

				p {
					font-family: $font-serif-italic;
					font-size: 12px;
					line-height: 15px;
					text-align: center;
				}

				a {
					@include buton-s-green;
					padding: 16px 30px;
				}
			}
		}

		#block-ahomeinvestigacionescolumnaizqunoa {
			.field--name-body {
				a {
					@include buton-s-green;
				}
			}
		}

		#block-bhomeinvestigacionescolumacentrofinanciacionb {
			background: #FFA20C;
			padding-bottom: 65px;

			* {
				color: white;
			}

			.text-content {
				background: none;
				border: 0;
			}

			.image-content {
				img {
					position: relative;
					top: 45px;
				}
			}

			.field--name-field-texto-secundario {
				margin-top: -20px;

				&::before {
					margin-bottom: 30px;
				}
				
			}

			.field--name-field-link {
				a {
					padding: 16px 30px 12px;
					background: #995E00;
				}
			}
		}

		.region-section-2 {
			.block-content--type-bloque-basico-con-bocadillo {
				padding-bottom: 0;

				.field--name-field-pre-title {
					@include pretitle;
					margin-bottom: 15px;
				}

				.field--name-field-title {
					margin-bottom: 20px;

					h4 {
						font-family: $font-brandb;
						font-size: 20px;
						line-height: 20px;
						margin: 0;
					}
				}

				.field--name-field-bocadillo-150 {
					
				}

				.field--name-body {
					p {
						font-size: 14px;
						line-height: 17px;
					}

					a {
						font-size: 12px;
						line-height: 15px;
						letter-spacing: 2.4px;
					}
				}
			}

			.columna-der.content-mid .field--name-body a {
				@include buton-s-green;
			}

			.columna-der.content-down .field--name-body a {
				@include buton-s-border-green;
			}
		}

		.region-content,
		.content2 {
			@include ib-grid;
		}

		// .columna-izquierda,
		// .columna-derecha,
		.estilo-0009,
		.boton-content {
			@include blockgroup-columnas-laterales;
		}

		// .columna-derecha,
		.boton-content {
			@include blockgroup-columna-derecha;
		}

		// .columna-central,
		.basic-content {
			@include blockgroup-columna-central;
			
			.block-inner {
				padding: 37px 20px;

				@media only screen and (max-width: $mobile) {
					padding: 0 30px 20px;
				}
			}
		}

		.block-block-content0645ec0d-eec6-4ac8-8ead-88c38591e30f {
			.block-inner {
				padding: 37px 0;

				@media only screen and (max-width: $mobile) {
					padding: 20px 0;
				}
			}

			p {
				&:first-child {
					@include pretitle;
				}

				& + p {
					color: #4a4a4a;
					font-family: "acherus_grotesqueultralight";
					font-size: 33px;
					font-weight: normal;
					letter-spacing: -0.5px;
					line-height: 40px;
				}

				strong {
					font-family: $font-brandb;
					font-weight: normal;
				}
			}
		}

		.region-section-3 {
			@include block-pintadinho-green;
			padding: 50px 0 50px;

			* {
				text-align: left;
				color: white;
			}

			h4,
			.field--name-field-destacado,
			.field--name-field-fecha-inicio-inscripcion *,
			.field--name-field-bocadillo-3 * {
				color: $color_gray_80;
			}

			.block-content {
				padding: 0;

				.field--name-body {
					margin-bottom: 20px;

					p {
						text-align: left;
					}
				}
			}

			.editorial {
				.field--name-field-links {
					a {
						@include buton-m-green;
						background-color: white;
						color: $color_brand;
						padding: 7px 25px;
					}
				}
			}

			.consulta-documentos {
				.field--name-field-links {
					a {
						@include buton-s-border-white;
					}
				}
			}
		}
	}

	// URL: /investigaciones/transferencia-investigacion, /investigaciones/valor-investigacion
	.cetri {
		margin-top: -15px;

		p {
			a {
				@include buton-s-green;
				margin-top: 10px;
				padding: 10px 25px;
			}
		}

		h3,
		h3 + p {
			padding-left: 20px;
		}
	}

	&.valor-investigacion {
		.node--type-pagina-basica-bosque.node--view-mode-full {
			.field--name-field-bocadillo {
				margin-bottom: 0 !important;
			}
		}

		.block-block-content47a58531-8b4c-4d9a-a5b8-b991cbbc9517 {
			.text-content {
				&::before {
					height: 190px;
				}
			}
		}

		.block-block-contente79552ab-e4a1-4ae6-af7c-a05e18536325 {
			.text-content {
				&::before {
					min-height: 230px;
				}
			}
		}

		.block-block-contente7d232d8-052c-4aea-bc32-04da6ad0a43b {
			.text-content {
				&::before {
					display: none;
				}
			}
		}
	}

	// URL: /investigaciones/buscar-visibilidad
	&.visibilidad {
		@include default-tabs;

		div[class*="region-section-"]{
			float: left;
			width: 100%;

			.region-content {
				float: left;
				width: 100%;
			}
		}

		.region-section-3 {
			padding-bottom: 10px;
		}

		.tabMakerContents {
			background: none;

			&::before,
			&::after {
				display: none;
			}
		}

		.tabMakerContent {
			padding: 0;
		}

		.tabMakerTab {
			width: 1%;
			display: table-cell;
			float: none;

			&:nth-of-type(1) {
				.inner {
					max-width: 200px;
					margin: 0 auto;
				}
			}

			&:nth-of-type(2) {
				.inner {
					max-width: 170px;
					margin: 0 auto;
				}
			}

			&:nth-of-type(3) {
				.inner {
					max-width: 130px;
					margin: 0 auto;
				}
			}
		}

		.inner {
			
		}

		.block {
			h2 {
		//		display: none;
			}
		}

		.aside {
			a {
				@include buton-s-green;
				padding: 10px 25px;
				margin-top: 12px;
			}
		}

		.pre-form:before {
			content: "";
			display: block;
			width: 70%;
			height: 1px;
			background: $color_gray_20;
			margin-bottom: 40px;

			@media only screen and (max-width: $mobile) {
				display: none;
			}
		}
	}

	// URL: /investigaciones/documentos-formatos
	&.documentos-formatos {
		@include desplegableMaker-outer('.content2', '.block', '.text-content', '.field--name-field-title2')
	}

	// URL: /investigaciones/jovenes-investigadores
	&.aprender-investigando {
		.node--type-pagina-basica-bosque {
			// padding-bottom: 0 !important;

			.field--name-field-bocadillo {
				margin-bottom: 25px !important;
			}
		}

		

		.region-section-2 {
			// margin-top: -35px;
			

			.block.estilo-0004 {
				.text-content {
					width: 100%;
					max-width: 570px;
				}

				.field--name-field-body p + h3 {
					margin-top: 50px;
				}
			}
		}

		.aside {
			@media only screen and (max-width: $mobile) {
				&::before {
					display: none;
				}
			}
		}
	}

	// URL: /investigaciones/semilleros-investigacion
	&.semilleros-investigacion {
		.node--type-pagina-basica-bosque {
			.field--name-body {
				max-width: 600px;
			}
		}
		
		.content2 {
			padding-left: 30px;

			h2 {
				font-family: "acherus_grotesquebold";
				font-size: 28px;
				line-height: 31px;
			}
		}
		
		.semilleros-body {
			@include cuerpo-de-texto-bloque;
		}
		
		 
	}

	// URL: /investigaciones/jovenes-investigadores
	&.jovenes-investigadores {
		.node--type-pagina-basica-bosque {
			padding-bottom: 0 !important;
		}

		.content2 {
			padding-left: 30px;

			h2 {
				font-family: "acherus_grotesquebold";
				font-size: 28px;
				line-height: 31px;
			}
		}

		.jovenes-investigadores-body {
			@include cuerpo-de-texto-bloque;
		}
	}

	// URL: /investigaciones/editorial
	&.la-editorial {
		.region-section-1 {
			.estilo-0019 {
				.text-content {
					@media only screen and (min-width: 900px) {
						width: calc(100% - 477px);
					}
				}
			}
		}

		.nuestros-servicios {
			.field--name-field-body {
				padding-left: 20px;

				p:first-child {
					margin-left: -20px;
				}
			}
		}
	}

	// URL: /investigaciones/vicerrectoria-investigaciones
	&.vicerrectoria {
		@include grilla-3-columns-bs('.content4', '.estilo-0013');

		.node--type-pagina-basica-bosque-no-image {
			.field--name-field-bocadillo-150 {
				@media only screen and (max-width: $tablet) {
					font-size: 33px;
					line-height: 40px;
				}
			}
		}

		#main {
			.region-content {
				padding-bottom: 35px;
			}

			.content {
				padding-bottom: 25px;
			}

			.region-section-2 {
				.region-content {
					padding-bottom: 0;
				}
			}

			.region-section-3 {
				padding-bottom: 20px;
				
				@media only screen and (max-width: $mobile) {
					margin-left: -30px;
					margin-right: -30px;
					padding-bottom: 0;

					.region-content {
						padding-bottom: 25px;
					}
				}
			}
		}

		.estilo-0004 {
			.text-content {
				@media only screen and (min-width: $mobile) {
					width: 56.5%;
				}
			}

			.aside {
				@media only screen and (min-width: $mobile) {
					width: 43.5%;
					padding-left: 20px;
				}

				@media only screen and (max-width: $mobile) {
					&::before {
						display: none;
					}
				}
			}

			ul {
				padding-left: 15px;
			}

			li {
				margin-bottom: 10px;
				padding-left: 25px;

				&::before {
					width: 6px;
					height: 6px;
				}
			}
		}

		.estilo-0006 {
			.field--name-field-title {
				@media only screen and (max-width: $mobile) {
					
				}
			}
		}

		.estilo-0013 {
			text-align: center;

			& + .estilo-0013 {
				&::before {
					display: none;
				}
			}

			.block-inner {
				padding: 20px;
				padding-bottom: 15px;
			}

			h2 {
				font-family: $font-brandb;
				font-size: 20px;
				line-height: 20px;
				letter-spacing: -0.5px;
			}
		}

		.back-green {
			.block-inner {
				background-color: $color_brand;
			}

			h2 {
				color: white;
			}

			.field--name-field-body {
				a {
					@include buton-s-green;
					background-color: white;
					color: $color_brand;
					padding: 5px 25px;
				}
			}
		}

		.back-gray {
			.block-inner {
				background-color: $color_gray_15;
			}

			.field--name-field-body {
				a {
					@include button-s-border-green;
					padding: 5px 25px;
				}
			}
		}
	}

	// URL: /investigaciones/sitiio
	&.sitiio {
		@include grilla-2-columns-bs('.content1', '.estilo-0013b');

		.node--type-pagina-basica-con-cita-e-imagen {
			.field--name-node-title {
				margin-top: 0;
				padding-top: 5px;
			}

			.field--name-body {
				width: 45%;
			}

			.text-content {
				width: 55%;
				padding-right: 5px;
			}
		}
		
		.region-section-1 {
			padding-bottom: 50px;
		}
	}

    // URL: /investigaciones/gestion-proyecto-investigacion
    &.gestion-proyectos {
        .node--type-bosque-004-bocadillo-body {
            h1 {
                max-width: 600px;
            }
        }
        .content {
            .block.estilo-0019 {
                margin-bottom: 20px;
            }
        }
        .region-section-1 {
            clear: both;
            margin-bottom: 50px;
        }

		.text-content:before {
			display: none;
		}

		.field--name-field-title-h2 {
			width: 50%;
		}

		.aside {	
			&:before {
				background: #babcbf none repeat scroll 0 0;
				content: "";
				height: 100%;
				min-height: 160px;
				right: 0;
				position: absolute;
				top: 0;
				width: 1px;
			}

			a {
				color: #6f6c6c;
				font-family: $font-baser;
				font-size: 14px;
				letter-spacing: 0;
				text-transform: none;
			}
		}

		.estilo-0004 .field--type-text-with-summary {
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.planes .aside a,
		.evaluacion-proyectos .aside a {
			@include buton-s-green;
		}
    }
    &.productos-destacados {
        .field--name-field-texto-encima-del-enlace {
            color: $color_gray_80;
            &::before {
                content: url("../images/svg/arrow-down-green.svg");
            }
        }
        .field--name-field-bocadillo {
            margin-bottom: 0 !important;
        }
        .node--type-pagina-basica-bosque .field--name-field-enlace a {
            background-color: $color_brand;
            color: white;
        }
    }
    // URL: /investigaciones/grupos-investigacion
    &.grupos-investigacion {
		.node--type-bosque-004-bocadillo-body {
			@media only screen and (max-width: $mobile) {
				padding-bottom: 0;
			}

	        .field--name-field-bocadillo,
	        .field--name-field-body {
				position: relative;

	            @media only screen and (min-width: $mobile) {
	                width: 65%;
	            }

	            &::after {
	                content: "";
	                position: absolute;
	                top: 15px;
	                right: -30px;
	                background: #ddd;
	                width: 1px;
	                height: 500px;
	            }
	        }
		}

        .content {
            position: relative;
            margin-bottom: 18px;
        }
        .region-section-1 {
            margin-bottom: 50px;
        }
        .region-section-2 {
            margin-bottom: 25px;
			width: 100%;
			float: left;
        }
        .region-section-3 {
			clear: left;
			
			@media only screen and (min-width: $mobile) {
				margin-bottom: 50px;
			}
        }
        .field--name-field-bocadillo,
        .field--name-field-body {
			position: relative;

            @media only screen and (min-width: $mobile) {
                width: 65%;
            }
        }
        .cuarenta-cinco {
            box-sizing: border-box;

            @media only screen and (min-width: $mobile) {
				padding-left: 20px;
                position: absolute;
                top: 60px;
                right: 0;
                width: 30%;
            }
            h2 {
                color: $color_brand;
                font-size: 66px;
                line-height: 80px;
                letter-spacing: -1px;
            }
            .field--name-body {
                margin-top: -10px;
                p {
                    font-family: $font-serif-italic;
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
    }
    .institutos-laboratorios {
        .field--name-body {
            p:first-child {
                margin: 0;
            }
            img {
                float: left;
                margin-right: 25px;
				height: 213px;
				width: 380px;

				@media only screen and (max-width: $tablet) {
					height: 153px;
    				width: 280px;
				}

				@media only screen and (max-width: $mobile) {
					margin: 0 -30px 20px;
					display: block;
					max-width: none;
				}
            }
        }
    }

	// URL: /investigaciones/convocatorias-investigacion
    &.convocatorias-investigacion {
		.node--type-pagina-basica-bosque {
			padding-bottom: 0 !important;
		}

		.text-content:before {
			display: none;
		}

		.aside {
			&:before {
				background: #babcbf none repeat scroll 0 0;
				content: "";
				height: 100%;
				min-height: 160px;
				right: 0;
				position: absolute;
				top: 0;
				width: 1px;
			}

			a {
				color: #6f6c6c;
				font-family: $font-baser;
				font-size: 14px;
				letter-spacing: 0;
				text-transform: none;
			}
		}

		.convocatoria-interna {
			.text-content {
				padding-left: 20px;
				margin-top: 15px;

				a {
					@include buton-s-green;
					font-family: $font-baser;
					padding: 10px 25px;
				}
			}

			.aside {
				margin-top: 18px;
			}	
		}

		.convocatoria-externa {
			.text-content {
				margin-bottom: 20px;
			}
		}

        .view-convocatorias {
            .group-title {
                @include inline-block(top);
                margin-right: 15%;
                width: 65%;
                .field--name-dynamic-token-fieldnode-titulo-convocatoria,
                .field--name-field-presupuesto {
                    margin-bottom: 5px;
                    >* {
                        display: inline-block;
                    }
                }
                .field.field--name-field-contenido-1 {
                    padding-top: 0;
                }
            }
            .node-date {
                @include inline-block(top);
                width: 20%;
            }
            .item-month-day {
                float: none;
            }
            .field--name-field-inicio-2 {
                margin-bottom: 10px;
                .item-month-day {
                    border-bottom: 1px solid;
                    border-color: $color_gray_50;
                    &:after {
                        content: "";
                        display: block;
                        height: 5px;
                        width: 42px;
                        position: relative;
                        bottom: -3px;
                        left: -5px;
                        background-color: $color-brand;
                    }
                }
            }
            .div-label,
            .field__label {
                font-family: $font-baseb;
            }
            .text-content {
                padding: 25px 0;
                @include ib-grid;
            }
            [class*="file"] {
                position: relative;
                &:before {
                    content: '';
                    background: url(../images/icon-pdf-green.svg) no-repeat 0 0;
                    display: inline-block;
                    vertical-align: middle;
                    padding-right: 5px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 22px;
                    height: 28px;
                }
                a {
					@include link-green;
                	@include underline-hover;
                	font-size: 10px;
					padding-left: 25px;
					margin-bottom: 15px;
                }
                a:before {
                    display: none;
                }
            }
            .field--name-node-link a {
                @include buton-s-green;
            }
        }
    }

	&.nuestro-equipo {
		.sidebar-menu .menu-item:first-child.menu-item--active-trail {
			padding-left: 0;

			&::before {
				display: none;
			}
		}
	}
}