<div class="block-views-blockbanner-home-block-1">
<div class="img">{{ content.field_image }}</div>
<div class="video">{{ content.field_video_banner }}</div>
<div class="views-field views-field-nothing">
<div class="content-banner">
<div class="content-banner--type">RELATOS</div>
<div class="content-banner--title"><a>{{ label }}</a></div>
<div class="content-banner--links">
<div class="content-banner--links-read-more"><a href="{{ url }}">HISTORIA COMPLETA</a></div>
<div class="content-banner--links-all-read"><a href="/relatos">EXPLORAR TODAS</a></div>
</div>
</div>
</div>
</div>