{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
 #}



 <div class="overlay-search overlay-top"><a>Cerrar</a></div> 

<div class="page-wrapper">

 {%  if page.header_info %}
 <div class="container--header-info">
  <div class="header-info-inner">
    <div class="hamburger-button"><span></span><span></span><span></span></div>
    {{ page.header_info }}

    <div class="logo-tablet-mobile logo-puesto-en-twig">
		<a href="/"><img src="/themes/custom/seed_ubosque/images/ueb.png"></a>
	</div>
  </div>
</div>
{% endif %}
{% if page.header_first %}
<header id="header" role="banner">
  <div class="header-inner clearfix">
    {{ page.header_first }}

  {% if page.header_second %}
    <div class="close-search"></div>
    {{ page.header_second }}
   <div class="overlay-search overlay-bottom"></div>
  {% endif %}

  {% if page.header_third %}
    {{ page.header_third }}
  {% endif %}
  </div>
</header>
{% endif %}

{# Educon Header #}
{% if page.header_educon %}
    <div class="region-header-educon region-section">
      {% block header_educon %}
        <div class="header-educon region-content layout-content">
            {{ page.header_educon }}
        </div>
      {% endblock %}
    </div>
{% endif %}

<div class="wrap-content">

  	{% if page.sidebar_modal %}
		<div class="lateral-button"><div class="inner"><div class="equis"></div></div></div>
    <aside class="sidebar-modal" role="complementary">
		<div class="sidebar-overlay">
			<div class="sidebar-content">
              {{ page.sidebar_modal }}
		  	</div>
	  	</div>
    </aside>
   {% endif %}


  <div class="layout-info" role="contentinfo">
    {% if page.help %}
      {{ page.help }}
    {% endif %}

    {% if page.breadcrumb %}
      <div class="breadcrumb">
        {{ page.breadcrumb }}
      </div>
    {% endif %}
  </div>

  <div class="layout-content clearfix">
	{% if page.sidebar_first %}
      <aside class="sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}


    {% if page.pre_content %}
      <div class="layout-content--pre-content" role="complementary">
        {{ page.pre_content }}
      </div>
    {% endif %}

    <main id="main" class="content" role="main" >

      {# Content Educon #}
      {% if page.content_educon %}
          <div class="region-content-educon region-section">
            {% block content_educon %}
              <div class="content-educon region-content">
                  {{ page.content_educon }}
              </div>
            {% endblock %}
          </div>
      {% endif %}


      {% if page.content %}
        {{ page.content }}
      {% endif %}


      {% if page.right_column %}
      <div class="region-right-column region-section">
        <div class="right-column region-content">
              {{ page.right_column }}
        </div>
      </div>
      {% endif %}
	  
      {% if page.content1 %}
		  <div class="region-section-1 region-section">
			  <div class="content1 region-content">
        		  {{ page.content1 }}
			  </div>
		  </div>
      {% endif %}
	  
      {% if page.content2 %}
		  <div class="region-section-2 region-section">
			  <div class="content2 region-content">
                {{ page.content2 }}
			  </div>
		  </div>
      {% endif %}
	  
      {% if page.content3 %}
		  <div class="region-section-3 region-section">
			  <div class="content3 region-content">
        		  {{ page.content3 }}
		      </div>
		  </div>
      {% endif %}
	  
      {% if page.content4 %}
		  <div class="region-section-4 region-section">
			  <div class="content4 region-content">
        		  {{ page.content4 }}
			  </div>
			</div>
      {% endif %}
	  
      {% if page.content5 %}
		  <div class="region-section-5 region-section">
			  <div class="content5 region-content">
        		  {{ page.content5 }}
			  </div>
			</div>
      {% endif %}
	  
      {% if page.content6 %}
		  <div class="region-section-6 region-section">
			  <div class="content6 region-content">
        		  {{ page.content6 }}
			  </div>
		  </div>
      {% endif %}
    </main>

    {% if page.post_content %}
      <div class="layout-content--post-content" role="complementary">
        {{ page.post_content }}
      </div>
    {% endif %}
  </div>
</div>

{% if page.pre_footer %} 
<div id="prefooter">
	<div class="prefooter-container">
	      {{ page.pre_footer }}
	</div>
</div>
{% endif %}

{# Educon Footer #}
{% if page.footer_educon %}
    <div class="region-footer-educon region-section">
      {% block footer_educon %}
        <div class="footer-educon region-content layout-content">
            {{ page.footer_educon }}
        </div>
      {% endblock %}
    </div>
{% endif %}


<footer id="footer" role="contentinfo">
  <div class="footer-container">
    {% if page.footer_first %}      
      {{ page.footer_first }}
    {% endif %}

    {% if page.footer_second %}
      {{ page.footer_second }}
    {% endif %}

    {% if page.footer_third %}
      {{ page.footer_third }}
    {% endif %}
  </div>
  {% if page.footer_copyright%}
  {{ page.footer_copyright }}
{% endif %}
</footer>

</div>

<div class="base-overlay ov-1"></div>
<div class="base-overlay ov-2"></div>

<div id="default-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="bosqprueba"></div>