.estilo-0006 {
	overflow: hidden;
	// $color: $background, $button-background
	$cyan: #15D9B8, #268071;
	$orange: #FFA20C, #805326;
	$gray: #C4C2BA, #C4C2BA;
	$blue: #128AE1, #0C5E99;
	$pink: #E10F67, #7F265A;
	$red: #EE2F39, #991E24;
	$purple: #BDBAC4, white;
	$celeste: #E1EEF6, #114363;
	$plomo: #BAC4C4, $color_brand;
 	$celeste-1: #e3eef5, #3986c7;
 	$rosado-1: #f3e2ee, #bb5d9e;
	$celeste-2: #3a8ada, #325a7d;

	// URL: /egresados
	&.oportunidades-exterior {
		@include estilo-0006-bg(nth($celeste-2, 1), nth($celeste-2, 2));

		.block-inner {
			height: 231px;
		}

		.field--name-field-body {
			p {
				color: white;
				font-size: 24px;
				line-height: 30px;
			}
		}
	}

	// URL: /investigaciones/vicerrectoria-investigaciones
	&.investigacion-num {
		@include estilo-0006-bg(nth($celeste, 1), white);

		.text-content {
			padding-bottom: 27px;
		}

		.field--name-field-title {
			font-family: $font-brandb;
			margin-bottom: 5px;
		}

		.field--name-field-body {
			max-width: 600px;
		}

	    .field--name-field-link {
			bottom: 20px;

	        a {
	            color: $color_brand;
	        }
	    }
	}

	// URL: /talento-humano
	&.trabaje-con-nosotros {
		@include estilo-0006-bg(nth($purple, 1), nth($purple, 2));
	}

	// URL: /talento-humano
	&.convocatorias-internas {
		@include estilo-0006-bg(nth($celeste, 1), nth($celeste, 2));
	}

	// URL: /investigaciones/transferencia-investigacion
	&.block-block-content5128d50e-dae8-479b-8b51-f9d5c47975bf {
		@include estilo-0006-bg(nth($plomo, 1), nth($plomo, 2));
		max-width: 66%;
		margin-bottom: 50px;

		@media only screen and (min-width: $mobile) and (max-width: $tablet) {
			max-width: 80%;
		}
	}

	// http://uat_ubosque.d8.seedoven.co/nuestro-bosque
	&#block-nuestrobosqueimagesrectangulo {
	 	@include cajita-text-width('.field-title', 80%, 80%, 80%);
		@include estilo-0006-bg(nth($cyan, 1), nth($cyan, 2));
	}

	// http://uat_ubosque.d8.seedoven.co/nuestro-bosque
	&#block-nuestrobosqueimagerectangulo2 {
	 	@include cajita-text-width('.field-title', 65%, 80%, 80%);
		@include estilo-0006-bg(nth($orange, 1), nth($orange, 2));
	}

	// http://uat_ubosque.d8.seedoven.co/nuestro-bosque/catalogo
	 &#block-catalogoconocelaeditorial2 {
	 	@include cajita-text-width('.field-title', 80%, 80%, 80%);
		@include estilo-0006-bg(nth($gray, 1), nth($gray, 2));

		.field--name-field-link {
			a {
				border-color: white;
			}
		}

		@media only screen and (max-width: $tablet) {
			.block-inner {
				min-height: auto;
			}

			.text-content {
				padding: 25px 30px 0;
			}

			.link {
				position: static;
				padding-bottom: 20px;
			}
		}
	 }
	 
	 // http://uat_ubosque.d8.seedoven.co/nuestro-bosque/catalogo
	 &#block-catalogoconoceelcentrodediseno2 {
	 	@include cajita-text-width('h2', 80%, 80%, 80%, white);
		@include estilo-0006-bg(nth($blue, 1), nth($blue, 2));

		@media only screen and (max-width: $tablet) {
			.block-inner {
				min-height: auto;
			}

			.text-content {
				padding: 25px 30px 0;
			}

			.link {
				position: static;
				padding-bottom: 20px;
			}
		}
	 }

	 // URL: /internacionalizacion
	 &.internacionalizacion-fuera-pais {
 	 	@include cajita-text-width('.field--name-field-title', 70%, 50%, 50%, white, 40px);
 		@include estilo-0006-bg(nth($cyan, 1), nth($cyan, 2));

		.field--name-field-title {
			line-height: 35px;
		}

		.field--name-field-image {
			top: 30px;
		}

		.text-content {
			position: static;
		}

		.link {
			bottom: 20px;
		}

		.field--name-field-link {
			a {
				padding: 11px 40px;
			}
		}
	 }

	 // URL: /internacionalizacion
	 &.internacionalizacion-estudiar-ubosque {
 	 	@include cajita-text-width('.field--name-field-title', 69%, 50%, 50%, white, 40px, 35px);
 		@include estilo-0006-bg(nth($pink, 1), nth($pink, 2));

		.field--name-field-title {
   		 	h3 {
   		 		font-family: $font-bsb;

     			 &::first-line {
     				 font-family: $font-bl;
     			 }
   		 	}
		}

		.field--name-field-image {
			top: 30px;
		}

		.text-content {
			padding-top: 43px;
			position: static;
		}

		.link {
			bottom: 20px;
		}

		.field--name-field-link {
			a {
				padding: 11px 40px;
			}
		}
	 }

	 // URL: /internacionalizacion
	 &.internacionalizacion-postulate {
 	 	@include cajita-text-width('.field--name-field-title', 50%, 50%, 50%, white, 40px, 35px);
 		@include estilo-0006-bg(nth($orange, 1), nth($orange, 2));

		.field--name-field-title {
   		 	h3 {
				font-family: $font-bl;

     			 &::first-line {
     				 font-family: $font-bsb;
     			 }
   		 	}
		}

		.field--name-field-image {
			top: 30px;
		}

		.text-content {
			padding-top: 43px;
			position: static;
		}

		.link {
			bottom: 20px;
		}

		.field--name-field-link {
			a {
				padding: 11px 40px;
			}
		}
	 }

	 // URL: /bienestar-universitario/deportes
	 &.block-block-contentc50a77c0-dc34-43c8-b0e5-5f6e4488fbad {
		 @include cajita-text-width('.field-title', 80%, 80%, 80%, white, 24px);
		 @include estilo-0006-bg(nth($cyan, 1), nth($cyan, 2));

		 .block-inner {
			 min-height: 135px;
		 }

		 .text-content {
			 padding: 14px 29px 44px;
		 }

		 .field--name-field-title {
			 h3 {
			 	font-family: $font-bsb;
				letter-spacing: 1px;
				font-size: 28px;
				line-height: 27px;
				color: white;

   			 	&::first-line {
   				 	font-family: $font-bl;
					font-size: 24px;
   			 	}
			 }
		 }

		 .link {
			 bottom: 17px;

			 a {
				 padding: 10px 20px;
			 }
		 }
	 }
	 
	 .field--name-field-body {
		 padding-bottom: 16px;
		 
		 h2 {
			 margin: 0;

			 strong {
				 font-family: $font-bl;
			 }
		 }
	 }

	 // URL: /responsabilidad-social
	 &.informe-sostenibilidad {
		 background-color: #F6E1E1;
	 }

	 // URL: /egresados
	 &.egresados-club-emp {
  		@include estilo-0006-bg(nth($celeste-1, 1), nth($celeste-1, 2));
	 }

	 // URL: /egresados
	 &.egresados-internacionalizacion {
  		@include estilo-0006-bg(nth($rosado-1, 1), nth($rosado-1, 2));
	 }

	 // URL: /talento-humano
	 &.trabaje-con-nosotros,
	 &.convocatorias-internas {
		 .block-inner {
		 	min-height: inherit;
		 }

	 	.field--name-field-body p {
	 		max-width: 80%;
	 	}
		
		.field--name-field-link {
			a {
				@include buton-s-border-green;
				@include button-hover-after(white);
				border-color: white;
				color: white;
				background: transparent !important;
			}
		}
	 }

	 // URL: /talento-humano
	 &.convocatorias-internas {
 		.field--name-field-link {
 			a {
 				@include buton-s-border-green;
 				@include button-hover-after(#7C8B95);
 				border-color: #7C8B95;
 				color: #7C8B95;
 				background: transparent !important;
 			}
 		}
	 }

	 // URL: /bienestar-universitario/cultura-recreacion
	 &.grupo-cultura {
		 @include cajita-text-width('.field--name-field-body p', 80%, 80%, 80%, white, 24px);
		 @include estilo-0006-bg(nth($red, 1), nth($red, 2));
		 max-width: 570px;

		 .field--name-field-title {
			 display: none;
		 }

		 .field--name-field-image {
			 top: auto;
			 bottom: 0;
		 }

		 .text-content {
			 padding: 23px 30px 65px;
		 }

		 .field--name-field-body {
			 p {
				 font-family: $font-bl;
				 font-size: 33px;
				 line-height: 40px;
				 letter-spacing: -0.1px;

				 strong {
				 	font-family: $font-bsb;
				 }
			 }
		 }
	 }

	 // URL: /bienestar-universitario/deportes
	 &.block-block-content3856df0a-fec9-4bb8-8c2f-34701836da17 {
		 @include cajita-text-width('.field-title', 80%, 80%, 80%, white, 24px);
		 @include estilo-0006-bg(nth($blue, 1), nth($blue, 2));

		 .block-inner {
			 min-height: 135px;
		 }

		 .text-content {
			 padding: 14px 29px 44px;
		 }

		 .field--name-field-title {
			 h3 {
			 	font-family: $font-bsb;
				letter-spacing: 1px;
				font-size: 28px;
				line-height: 27px;
				color: white;

   			 	&::first-line {
   				 	font-family: $font-bl;
					font-size: 24px;
   			 	}
			 }
		 }

		 .link {
			 bottom: 17px;

			 a {
				 padding: 10px 20px;
			 }
		 }
	 }

	.block-inner {
		position: relative;
		overflow: hidden;
		min-height: 175px;
	}

	@media only screen and (max-width: $mobile) {
		margin-bottom: 25px;

		& + .estilo-0006 {
			margin-bottom: 0;
		}

		.block-inner {
			position: relative;
			overflow: hidden;
			min-height: 188px;
		}
	}


	// Lenguas
	// naranja
	
	&.bg-cyan-2 {
		.block-inner {
			background-color: #0AD9B7;
		}

		.field--name-field-link {
			a {
				background-color: #0F9982;
			}
		}
	}


	// 12 Bienestar
	&.bg-celeste-palido {
		.block-inner {
			background-color: #E1EEF6;
		}

		.field--name-field-link {
			a {
				background-color: #114363;
			}
		}
	}

	.alineado_vertical_class-token {
		display: none;

		&.arriba {
			& + .field--name-field-image {
				top: 0;
				bottom: auto;
			}
		}

		&.centro {
			& + .field--name-field-image {
				top: 0;
				bottom: 0;
				margin: auto;
				width: 100%;

				img {
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}

		&.abajo {
			& + .field--name-field-image {
				top: auto;
				bottom: 0;
			}
		}

		&.alto-100 {
			& + .field--name-field-image {
				height: 100%;
				width: auto;

				.field__item,
				img {
					height: 100%;
					max-width: none;
					width: auto;
				}
			}
		}
	}

	.text-content {
		// position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		position: relative;
		z-index: 20;
		height: 100%;
		padding: 30px 30px 54px; //30px 30px 0;

		@media only screen and (max-width: $tablet) {
			//padding: initial;
			padding-left: 30px;
			min-height: 125px;
			margin: auto;
			bottom: 0px;
		}
	}

	.block-content {
		height: 100%;
	}

	.field--name-field-title,
	.field-title,
	h2 {
		@include acherus_grotesqueultralight (33px);
		letter-spacing: -0.5px;
		width: 80%;
		margin-bottom: 5px !important;

		@media only screen and (max-width: $tablet) {
			@include acherus_grotesqueultralight (26px);
			line-height: 30px;
			margin-bottom: 15px;
			min-height: 92px;
			display: flex;
			align-items: center;
		}

		* {
			@include inherit;
		}

		b,
		strong {
			font-family: $font-brandb !important;
			font-weight: normal;
		}
	}

 	.field--name-field-image {
	 	top: auto;
	 	bottom: 0;

	 	img {
	 		display: block;
			float: right;
			max-width: inherit;
	 	}
 	}

	.link {
		position: absolute;
		bottom: 30px;
		left: 30px;
		width: 100%;

		.field__item {
			@include inline-block;
			margin-right: 10px;
		}

		a {
			@include buton-s-green;
		}
	}

	.field--name-field-image {
		transition: .3s ease-out all;
		position: absolute;
		top: 0; //-57px;
		right: 0; //-110px;
		text-align: right;

		@media only screen and (max-width: $tablet) {
			// top: -38px;
			// right: -67px;

			img {
				max-width: inherit;
			}
		}
	}
}
