.field {
	&.field--name-field-contenido-extra {
		clear: both;
		
		@mixin local-body {
			width: 66.66%;
			float: left;
			padding-right: 20px;
		}

		img {
			vertical-align: top;
		}

		.field--name-field-body {
			box-sizing: border-box;
		}

		.paragraph--type-parrafo-aside-titulo-body-link {
			.field--name-field-body {
				@include local-body;
			}

			.aside {
				width: 33%;
				float: right;
				border-left: 1px solid #babcbe;
				box-sizing: border-box;
				padding-left: 20px;
			}
	
			h4 {
				@include font(18px, 22px);
				color: $color_brand;
			}
	
			.field--name-field-links {
				padding-top: 20px;
			}

			a {
				@include buton-m-green;
				padding: 10px 28px 11px;
			}
		}

		.paragraph--type-body {
			padding-top: 40px;

			.field--name-field-body {
				@include local-body;

				p + h2 {
					margin-top: 50px;
				}
			}
		}

		.paragraph--type-parrafo-aside-image {
			padding-top: 40px;

			.field--name-field-imagen {
				float: right;
				width: 45%;
				margin-bottom: 15px;
			}

			.field--name-field-body {
				@include local-body;
				width: 55%;
			}
		}
	}

	&.field--name-field-contenido-extra {
		.field--name-field-links {
			a {
				@include buton-s-green;
			}
		}
	}
}