#footer {
	$local-mobile: $mobile;
	$local-tablet: 1040px;

	@mixin local-column-footer {
		//max-width: 255px;
		padding-right: 45px;
		//width: 100%;
		width: 25%;

		@media only screen and (max-width: $tablet) {
			padding-right: 20px;
		}

		@media only screen and (max-width: $local-mobile) {
			width: 100%;
			padding-right: 0;
		}
	}

	max-width: none;
	display: block;
	overflow: hidden;
	background-color: $color_brand;
	height: auto;
	width: 100%;

	p {
		word-wrap: break-word;
	}

	.footer-container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 10px;
		box-sizing: border-box;

		@media only screen and (max-width: $tablet) {
			padding: 0 30px;
		}

		@media only screen and (max-width: $mobile) {
			padding-top: 20px;
		}
	}

	.region-content {
		flex-grow: inherit;
		margin-right: 0;
		max-height: none;
		//max-height: 180px;
	}

	.footer-container {
		@include ib-grid;
		font-size: 0;

		.region-content {
			@include local-column-footer;
			@include inline-block(top);
			padding-top: 29px;
			padding-bottom: 35px;

			@media only screen and (max-width: $mobile) {
				padding-top: 10px;
				padding-bottom: 10px;
			}

			h2 {
				@include footer-paragraph-very-small-bold;
			}

			.field--name-body {
				@include paragraph-very-small;

				a {
					@include underline-hover;
					display: block;
					margin-top: 2px;
					color: white;
				}
			}

			.block-inner {
				> h2 {
					@include footer-paragraph-very-small-bold-2;
					font-size: 12px;
				}
			}

			.block {
				line-height: 100%;
				margin: 0;
				text-align: left;
			}
		}

		.footer_first {
			//max-width: 600px;
			padding-right: 0;
			width: 50%;
			@media only screen and (max-width: $mobile){
				padding-bottom: 0px;
				.block-title {
					margin-bottom: 10px;
				}
			}

			@media only screen and (max-width: $mobile) {
				width: 100% !important;
			}
			.block {
				@include local-column-footer;
				@include inline-block(top);
				width: 49%;
				box-sizing: border-box;

				.block-inner {
				//	width: 100%;
				}

				h2 {
					line-height: 100%;
				}

				.block-inner {
					position: relative;
					padding-left: 60px;
					transition: .3s ease-out all;
					box-sizing: border-box;

					@media only screen and (max-width: $local-tablet) {
						padding-left: 0;
					}
				}

				& + .block {
					@media only screen and (min-width: $tablet) {
						padding-right: 0;
					}
				}
			}
		}

		.footer_second {
			padding-right: 0;
			@media only screen and (max-width: $mobile){
				padding-top: 0px;
				width: 100% !important;
			}
			.block {
				h2 {
					@include footer-paragraph-very-small-bold;
					@media only screen and (max-width: $mobile) {
						margin-top: 15px;
						margin-bottom: 12px;
					}
				}
			}
		}

		.footer_third {
			box-sizing: border-box;
			padding-right: 0;
			padding-left: 65px;
			background: #8cc63f;
			position: relative;
			transition: .3s ease-out all;

			@media only screen and (max-width: $tablet) {
				padding-left: 25px;
			}
			
			@media only screen and (max-width: $local-mobile) {
				padding-left: 30px;
				margin: 0 -30px;
				background: #8cc63f;
				padding-bottom: 0px;
				width: inherit !important;
			}
			
			&::before {
				content: "";
				background: #8cc63f;
				position: absolute;
				top: 0;
				left: 100%;
				height: 100%;
				width: 3000px;
			}
		}
	}

	.image-first-footer {
		width: 60px;
		position: absolute;
		left: 0;
		top: 5px;

		@media only screen and (max-width: $local-tablet) {
			display: none;
		}
	}
	.footer_copyright {
		.field--type-text-with-summary {
			padding-bottom: 0;
			width: 100%;
		}
	}
}

.footer_copyright {
	text-align: center;
	padding: 20px;
	background-color: white;

	.block-block-content {
		p {
			font-family: $font-baser;
			font-size: 10px;
			line-height: 12px;
			letter-spacing: 2px;
			color: $color_gray_80;
		}
	}
}