// Se usa también en: /bienestar-universitario/
.plan-estudios {
	$local-left-column-width: 225px;
	$local-border-color: $color_gray_15;
	margin-bottom: 55px; //25px; /cursos-preuniversitarios/curso-formacion-musical

	@media only screen and (max-width: $tablet) {
		margin-bottom: 50px;
	}

	@media only screen and (max-width: $mobile) {
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: 25px;
		// margin-bottom: 0; Estorba en: /cursos-preuniversitarios/ingenierias-y-ciencias-ambientales

		.lavalamp-bar {
			display: none;
		}
	}

	.field--name-field-semestre {
		display: none;
	}

	.title-semester {
		@include title_green_latobold_s;
		@include inline-block(bottom);
		width: $local-left-column-width;
		box-sizing: border-box;
		padding-top: 18px;
		padding-right: 27px;
		padding-bottom: 17px;
		position: relative;
		text-align: right;
		text-transform: uppercase;
		float: left;


		&:before {
            content: "";
            display: inline-block;
            background: url(../images/home/IconoAcademico.svg) no-repeat;
            background-size: 33px;
            height: 54px;
            width: 44px;
            position: absolute;
            top: -5px;
            left: 40%;

			@media only screen and (max-width: $mobile) {
				display: none;
			}

        }

		@media only screen and (max-width: $mobile) {
			display: none;
		}
	}

	.tabtext {
		display: none;
		padding: 19px 5px 13px 30px;
		margin-right: 23px;
		float: left;
		text-transform: uppercase;
		border-right: 1px solid $color_gray_15;
		position: relative;
		z-index: 5;
		background: white;
		width: auto;

		@media only screen and (max-width: $mobile) {
			display: block;
		}
	}

	// Tab buttons wrapper
	.tabMakerTabs {
		text-align: left;
		position: relative;
		z-index: 20;
		border-bottom: 1px solid $local-border-color;

		@media only screen and (max-width: $mobile) {
			display: none;
		}
	}

	// Single tab button
	.tabMakerTab,
	.tabMakerTabMobile {
		@include inline-block(middle);
		font: {
			family: $font-brandb;
			size: 13px;
		}
		padding: 17px 0;
		cursor: pointer;
		text-align: center;
		width: 58px;
		border-right: 1px solid $local-border-color;

		&:first-child {
			border-left: 1px solid $local-border-color;
		}

		&:before {
			top: auto;
			bottom: -6px;
		}

		&.lavalamp-active {
			&:before {
				bottom: -4px;
			}
		}

		i {
			@include inline-block(top);
			margin-top: 7px;
			margin-left: 3px;
			background: url('../images/svg/LittleArrowGrey.svg') no-repeat;
			right: 12px;
			width: 6px;
			height: 4px;
			z-index: 3;
			opacity: 1;
			transition: .3s ease-out all;
		}

		@media only screen and (max-width: $mobile) {
			font-size: 16px;
			text-align: left;
			width: 100%;
			padding: 0;
			display: none;
			border-bottom: 1px solid $color_gray_15;
		}
	}
	
	.tabMakerTabMobile {
		position: relative;

		.hovered {
			transition: .3s ease-out all;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			//height: 100%;
			line-height: 100%;
			padding: 12px 0 15px;
			font-family: $font-brandb;
			color: $color_gray_80;
			background: white;
			z-index: 4;

			i {
				display: none;
			}
		}

		&::before {
			content: "";
			background: $color-brand;
			height: 3px;
			width: 100%;
			position: absolute;
			bottom: -1px;
			left: -100%;
			transition: .3s ease-out all;
			z-index: 10;
		}

		.wrapi {
			padding-top: 13px;
			padding-bottom: 13px;
			position: relative;
			float: left;
			min-width: 100px;
			overflow: hidden;
		}

		@media only screen and (max-width: $mobile) {
			display: block !important;
			float: left;
			width: 100%;
			border-left: 0 !important;

			i {
				display: none;
			}

			& + .tabMakerContentInner {
				display: none;
			}
		}
	}

	// Prevenimos para que siempre se vean en tablet y desktop
	.tabMakerContentInner {
		float: left;
		width: 100%;

		@media only screen and (min-width: $mobile) {
			display: block !important;
		}
	}

	.lavalamp-active {
		color: $color_brand;
		font: {
			size: 16px;
		}

		i {
			display: none;
		}
	}

	.field--name-field-plan-de-estudios {
		@include font-block-text ('.field--name-dynamic-token-fieldnode-malla-curricular', '.field__label, .field-label-above');
		@include structure-pretitle-button ('&', '.field--name-dynamic-token-fieldnode-malla-curricular', '.file--application-pdf');
		bottom: 0 !important;
	}

	.field--name-field-plan-de-estudios {
		max-width: $local-left-column-width;
		width: 100%;
		float: left;
		padding-left: 35px !important; // De 25px lo pasè a 35px debido a: /cursos-preuniversitarios/curso-formacion-musical
		box-sizing: border-box;

		.field--name-dynamic-token-fieldnode-malla-curricular {
			max-width: 70%;
		}

		.file--application-pdf {
			position: initial;
		}

		@media only screen and (max-width: $mobile) {
			float: none;
			max-width: none;
		}

		.field--name-dynamic-token-fieldar {
			text-transform: uppercase;
			padding-top: 10px;
			padding-bottom: 20px;

			@media only screen and (min-width: $mobile) {
				width: 100px;
			}

			p {
				margin: 0;
			}
		}

		.field__label,
		.field-label-above {
			//width: 100px; // para romper línea
			color: $color_brand;
			padding-bottom: 40px;

			@media only screen and (max-width: $mobile) {
				padding-bottom: 20px;
			}
		}

		.node--type-plan-de-estudios {
			.file {
				a {
					@include buton-xl-green;
				}				
			}
		}

		.field__item {
			.file {
				a {
					@include buton-xl-green;
				}				
			}			
		}		
	}

	.tabMakerTab {
		margin: 0;
	}

	// Tab contents wrapper
	.tabMakerContents {
		background: none;

		@media only screen and (min-width: $mobile) {
			border-left: 1px solid $local-border-color;
			overflow: hidden;
			padding-left: 23px;
			padding-bottom: 25px;
		}
	}

	// Single tab content
	.tabMakerContent {
		overflow: hidden;
		padding: 10px 0;

		@media only screen and (max-width: $mobile) {
			display: block !important;
			padding: 0;
		}

		&.active-mobile-tab {
			.hovered {
				color: $color_brand;
				top: 0;
			}

			.tabMakerTabMobile {
				&::before {
					left: 0;
				}
			}
		}
	}

	.field--name-field-titulo-tab-pregrado {
		@include title_latobold_m;
		text-transform: uppercase;
		border-bottom: 1px solid #babcc0;
		padding: 21px 0 10px;
		cursor: pointer;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: -100%;
			top: 100%;
			height: 1px;
			width: 100%;
			background: $color_brand;
			transition: 1.5s ease-out all;
		}

		@media only screen and (max-width: $mobile) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.desplegable-open {
		.field--name-field-titulo-tab-pregrado {	
			@include title_green_latoregular_m;

			&::after {
				left: 0;
			}
		}
	}

	.field--name-field-creditos {
		float: right;
		width: 110px;
		padding-left: 10px;
		margin-left: 35px;
		border-left: 1px solid $local-border-color;

		.field__label {
			@include pt_serifitalic(14px);
		}

		.field__item {
			@include acherus_black(20px);
		}
	}

	.field--name-field-descripcion-asignatura,
	.field--name-field-bocadillo-tab-pregrado {
		@include paragraphs_medium;
		overflow: hidden;
		margin-bottom: 17px;

		* {
			@include inherit;
		}
	}

	.field--name-field-asignatura {
		.field__label {
			@include pt_serifitalic(14px);
		}

		.field__item {
			@include latobold (11px);
		}
	}

	.text-content {
		overflow: hidden;
		padding-top: 23px;
		padding-bottom: 28px;
		margin-right: 60px;
		border-right: 1px solid $local-border-color;
		border-bottom: 1px solid $local-border-color;

		@media only screen and (max-width: $mobile) {
			margin-right: 0;
			border-right: 0;
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.field--name-field-asignatura {
		> * {
			line-height: 100%;
		}

		.field__label {
			margin-bottom: 10px;
		}
	}
}
