@include sidebar-menu ('.sidebar-menu', '.menu-item');
@include sidebar-menu ('.view-menu-facultades, .block-views-blockmenu-preguntas-frecuentes-block-1 ', '.views-row, .view-header >a, .view-footer >a');


.sidebar-menu {
    .visually-hidden, h2 {
        // position: initial !important;
        // width: auto;
        // height: auto;
        display: none;
    }
    &.menu-nuestro-bosque,
    &.menu--nuestro-bosque-instituciona,
    &.menu--nuestro-bosque-vida-univers {
        h2 {
            @include acherus_black(15px);
            text-transform: capitalize;
            letter-spacing: -0.5px;
            background: none;
            padding: 12px 0 10px;
            border-bottom: none;
        }
        &.menu--nuestro-bosque-vida-univers {
            .menu {
                margin: 0px;
            }
        }
    }
    &.menu--exito-estudiantil {
        // h2 {
        //     padding-top: 8px;
        //     background-position: 0 68%;
        // }
        .menu-item--active-trail {
            padding-right: 30px;
        }
    }

    &.menu--investigaciones {
        li:nth-child(n+6):nth-child(-n+10) {
            text-transform: none;
            padding-left: 20px;

            // &.show {
            //     display: block;
            // }
        }

          li:nth-child(n+11):nth-child(-n+12) {
            text-transform: none;
            padding-left: 40px;
           
            // &.show {
            //     display: block;
            // }
        }
    }

    &.menu--menu-admisiones-lateral {
        a[href*=orientacion].is-active {
            box-sizing: border-box;
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: "latobold";
            color: #4A4A4A;
            position: relative;
            padding-left: 15px;

            &:before {
                content: "";
                width: 4px;
                height: 4px;
                background-color: #4A4A4A;
                position: absolute;
                left: 0;
                top: 9px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }

            &:after {
                content: "";
                background: url(../images/svg/ArrowRightGrey.svg) no-repeat;
                height: 6px;
                width: 4px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -69px;
                margin: auto;
            }
        }
    }
}