@media only screen and (min-width: $mobile) {
	.view-view-0005-documentos-consulta.view-display-id-block_1 {
		.js-wrapper {
			padding-right: 20px;
		}
	}
	
	
	.block {
		// URL: /nuestro-bosque/catalogo
		&.block-carousel {
			.owl-nav {
				padding: 0;
				position: static;

				.owl-prev,
				.owl-next {
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
				}

				.owl-prev {
					left: -20px;
				}

				.owl-next {
					right: -20px;
				}
			}

			.owl-item {
				float: left;
				width: 33%;
			}
			
			.node {
				padding: 0 20px;
			}
			
			.field--name-field-imagenes-multiples {
				max-width: 190px;
			}
		}

		// URL: /blog-dos/capacitacion-docentes
		&.comments-blog-two {
			padding-top: 40px;
			max-width: 77%;
			
			.field--name-dynamic-token-fieldcomment-imagen-usuario-comentario {
				float: left;
				margin-right: 15px;
			}
		}
		
		&.estilo-0014 {
	        .field--name-field-body {
                float: left;
                width: 65%;
                padding-right: 20px;
	        }
		}
	} // end .block


}

@media only screen and (min-width: $tablet) {
	.block {
		// URL: /nuestro-bosque/catalogo
		&.block-carousel {
			.owl-nav {
				.owl-prev {
					left: -40px;
				}

				.owl-next {
					right: -40px;
				}
			}

			.owl-item {
				width: 20%;
			}
		}
	}
}

@media only screen and (max-width: $mobile) {
	.block {
		&.estilo-0014 {
	        h2 {
	            text-align: center;
	        }
	        .tabMakerContents {
                margin-left: -30px;
                margin-right: -30px;
	        }
	        .tabMakerTabMobile {
                padding-left: 30px;
                padding-right: 30px;
	        }
			
	        .tabMakerContentInner {
	            padding: 30px;
	        }
		}
		
	    // URL: /investigaciones/transferencia-investigacion, /investigaciones/editorial
	    &.estilo-0019 {
			margin-bottom: 20px;
		}
	} // end .block

	.block-views {
		&.block-views-exposed-filter-blocksearch-catalogo-page-1 {
            border-top: 1px solid #c5c5c5;
			border-left: 0;
            margin: 14px 0;
            padding: 16px 0 0;
            width: 100%;
			left: 0;
		}
	}

	.node--type-pagina-basica-con-cita-e-imagen {
		.field--name-field-imagenes-multiples {
			padding-left: 0;
		}
	}

	.field {
		&.field--name-field-contenido-extra {
			.paragraph--type-parrafo-aside-titulo-body-link {
				.field--name-field-body,
				.aside {
					width: auto;
					padding: 0;
					border: 0;
					float: none;
				}

				.field--name-field-body {
					margin-bottom: 20px;
				}
			}

			.paragraph--type-body .field--name-field-body,
			.paragraph--type-parrafo-aside-image .field--name-field-body,
			.paragraph--type-parrafo-aside-image .field--name-field-imagen {
				 width: auto;
				 padding: 0;
			}
		}
	}

	.block.social-networks .column-post,
	.block.social-networks .block-ubosque-instagram-block,
	.view.view-preguntas-frecuentes-por-facultad .views-row,
	.page-egresados #block-twittertimeline {
		max-width: none;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 10px;

		&::after {
			display: none;
		}
	}
}

@media only screen and (max-width: $tablet) {
	.block {
		&.estilo-0014 {
	        .tabMakerTabs {
                margin-left: -15px;
                margin-right: -15px;
	        }
		}
	}

	.page-egresados {
		&.home {
			&.content-sidebar .layout-content #main.content {
				width: 100%;
				padding: 0 30px;
			}

			.node--type-pagina-basica-bosque {
				margin: 0 -30px;
			}

			.field--name-field-titulo-largo {
				padding-left: 30px !important;
				padding-right: 30px !important;
			}
		}
	}
	
}